<md-bottom-sheet style="padding: 8px 0px 70px;-webkit-transform: translate3d(0, 80px, 0);transform: translate3d(0, 80px, 0);">
    <div class="md-subheader _md" style="text-align: left;line-height: 14px;" role="heading" aria-level="2">
        <div class="md-subheader-inner">
            <div style="color:black;" class="md-subheader-content">
                <span>{{'Profile Photo' | translate}}</span>
            </div>
        </div>
    </div>
    <md-list ng-show="profilePicModel.userAction === 'userSelection'" style="padding: 8px 0px 0px 0px;">
        <div class="col-xs-12 col-md-12">
            <div class="col-xs-6 col-md-6">
                <div class="col-xs-12 col-md-12" style="padding-left: 0px;">
                    <div class="col-xs-6 col-md-6" style="padding-left: 0px;">
                        <div class="row">
                            <img style="width: 35px;margin-right: 10px;margin-left: 4px;outline:none;" src="assets/img/profile_photo/Camera_100X100.png"
                                ng-click="openCamera()">
                        </div>
                        <div class="row">
                            <label style="width: 100%;line-height: 30px;" class="md-inline-list-icon-label ng-binding ng-scope">{{'Camera' | translate}}</label>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6" style="float: right;">
                        <div class="row">
                            <img style="width: 35px;margin-right: 10px;margin-left: 4px;outline:none;" src="assets/img/profile_photo/Gallery_100X100.png"
                                ng-click="openGallery()">
                        </div>
                        <div class="row">
                            <label style="width: 100%;line-height: 30px;" class="md-inline-list-icon-label ng-binding ng-scope">{{'Gallery' | translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6"></div>
        </div>
        <div ng-if="$root.profileImage !== null" class="col-xs-12 col-md-12" style="margin-top: 10px;">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <img style="width: 35px;margin-right: 10px;margin-left: 5px;outline:none;" src="assets/img/profile_photo/Delete_100X100.png"
                        ng-click="removePhoto()">
                </div>
                <div class="row">
                    <label style="width: 100%;line-height: 30px;" class="md-inline-list-icon-label ng-binding ng-scope">{{'Remove Photo' | translate}}</label>
                </div>
            </div>
            <div class="col-xs-6 col-md-6"></div>
        </div>
    </md-list>
    <md-list ng-show="profilePicModel.userAction === 'userCrop'">
        <div class="col-xs-12 col-md-12">
            <img class="selectedProfileImage" src="" />
        </div>
        <div class="col-xs-12 col-md-12" style="padding:25px">
            <md-button class="md-accent md-raised login-btn no-margin no-padding" ng-click="selectEditedPicture()">{{'PROCEED' | translate}}</md-button>
        </div>
    </md-list>
    <md-list ng-show="profilePicModel.userAction === 'userConfirmation'">
        <div class="col-xs-12 col-md-12" style="text-align:center;">
            <img style="height:150px;width:150px;" class="userImageConfirmation" src="" />
        </div>
        <div class="col-xs-12 col-md-12" style="padding:25px">
            <md-button class="md-accent md-raised login-btn no-margin no-padding" ng-click="setConfirmedPicture()">{{'USE PHOTO' | translate}}</md-button>
        </div>
    </md-list>
</md-bottom-sheet>