<div class="wrapper has-navbar-top">
	<div class="app-body">
		<div class="app-content">
			<loading ng-show="isMapLoading"></loading>
			<div ng-show="!isMapLoading" class="scrollable">
				<div class="scrollable-content">
					<div class="col-xs-12 col-md-12 no-value-display" ng-if="!netWorkState">Map View is not Available in Offline Mode</div>
					<div ng-if="netWorkState" id="map_canvas" style="height:100%;width:100%;"></div>
				</div>	  
			</div>
		</div>	
	</div>
</div>	
