 <div class="scrollable-content fullheightDetail" style="background-color: none !important;overflow-x: hidden;">
    <div class="list-group" style="height: 100%;">
        <md-progress-linear ng-show="mapDetails.isSendingUSerLocation" md-mode="indeterminate"></md-progress-linear>
        <div id="opp_map" ng-if="!mapDetails.noLocation && !mapDetails.noNetwork" style="height:100%;width:100%;"></div>
        <div class="col-xs-12 col-md-12 no-value-display" ng-if="mapDetails.noLocation">No Location to Display</div>
        <div class="col-xs-12 col-md-12 no-value-display" ng-if="mapDetails.noNetwork">Map View is not Available in Offline Mode</div>
    </div>
 </div>