<div class="wrapper has-navbar-top">
	<div class="app-body">
		<div class="app-content">
            <loading ng-show="oppListModel.isLoading"></loading>
			<div ng-show="!oppListModel.isLoading" ng-swipe-left="loadNextCategory()" ng-swipe-right="loadPrevCategory()" class="scrollable oppContainer ng-scope" ui-shared-state="searchBar" ng-class="{searchBar:oppListModel.search}">
				<div class="row" ng-if="oppListModel.search" style="height: 50px;background:white;padding-left:10px;"> 
                    <div class="col-xs-10 col-md-10" style="height:50px">     
                        <input ng-if="oppListModel.search" ng-model="oppListModel.searchText" ng-change="searchFilter()" type="search" class=" form-control scrollable-header needsclick ng-scope" placeholder="{{'Search' | translate}}" style="box-sizing: border-box;height: 50px;background:transparent;    border-bottom: 2px solid white;">
                    </div> 
                    <div class="col-xs-2 col-md-2 input-search" ng-click="searchOppty(oppListModel.searchText)" style="height: 50px;outline: none;"></div>  
                </div>
				<div class="opp-subsContainer">
                    <ul class="list-inline">
                        <md-tabs md-selected="oppListModel.selectedIndex">
                            <md-tab md-on-select="onOppListTabChanges(subs)" ng-repeat="subs in oppListModel.subCategoryList" label="">
                                <li class="DocumentItem">
                                    <span ng-class="{tabtextSelected:subs.isSelected}" class="opp-subsContainer-span"  style="text-transform:uppercase">{{subs.name  | translate}}</span>
                                    <!--<p ng-if="subs!=='Lost'" ng-class="{notifierSelected:subs.isSelected,hideCount:subs.notifierCount === '0'||subs.notifierCount === 0}"  class="opp-sub-notifiers"><span>{{subs.notifierCount}}</span></p>-->
                                    <p ng-if="subs!=='Lost'" ng-class="{notifierSelected:subs.isSelected,hideCount:subs.notifierCount === '0'||subs.notifierCount === 0}"  class="opp-sub-notifiers"><span>{{subs.notifierCount}}</span></p>
                                </li>
                            </md-tab>
                        </md-tabs>
                    </ul>
                </div>
                <div class="scrollable-content" app-scroll on-list-scrolled="loadMoreOpportunities()" style="padding-bottom: 50px;-webkit-overflow-scrolling: touch;">
                    <div ng-show="oppListModel.selectedCategory === 'Lead'" class="list-group">
                        <div class="list-group-item oppContainer noOutline" ng-repeat="opp in oppListModel.opportunitiesLead | filter:searchFilter" ng-click="gotoOpportunityDetails(opp.sTCLeadNumber,opp)">
                            <div class="row opplist-fullitem-margin">
                                <div class="col-xs-4 col-md-4 opplist-item1-padding">
                                    <div class="row oppstatus-margin">
                                      <div class="left-aligned-span" ng-class="{'opp-status red':{{opp.colorCode =='red'}} ,'opp-status blue':{{opp.colorCode =='blue'}},'opp-status green':{{opp.colorCode =='green'}},'opp-status yellow':{{opp.colorCode =='yellow'}},'opp-status orange':{{opp.colorCode =='orange'}}}"></div>
                                    </div>
                                    <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Contact' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':(opp.sTCFeedback !== 'Authorized person' && opp.sTCFeedback2 !== 'Authorized person' && opp.sTCFeedback3 !== 'Authorized person')}">
                                      <div ng-click="openDialer(opp.sTCBulkLeadContactNumber,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 50%!important;" ng-show="opp.sTCFeedback ==='Authorized person'">{{opp.sTCBulkLeadContactNumber}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber2,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback2 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback3 !=='Authorized person'">{{opp.sTCContactNumber2}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber3,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback3 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback2 !=='Authorized person'">{{opp.sTCContactNumber3}}</div>
                                    </div>
                                     <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Revenue' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':opp.PrimaryRevenueAmount === null}">
                                      <span class="text-small left-aligned-span bind-text">{{opp.PrimaryRevenueAmount}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                    <div class="row">
                                      <span class="left-aligned-span align-left opp-highlighed-text bind-text">{{opp.name}}</span>
                                    </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Op.Number'| translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCLeadNumber === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCLeadNumber}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'List OP Type' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOpportunityType === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOpportunityType | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Service name' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.serviceName === null||opp.serviceName === ''}">
                                          <span class="text-smaller substatus-bind-text">{{opp.serviceName  | translate}}</span>
                                     </div>
                                </div>
                                 <div class="col-xs-4 col-md-4 opplist-item3-padding">
                                     <div class="row opp-flag-margin" ng-class="{'fixed-flag-height':opp.sTCOpportunityPriority !== 'High'}">
                                         <img src="assets/img/opportunityFlag/flag@2x.png" height="15" width="15" ng-show="opp.sTCOpportunityPriority === 'High'">
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Sub Status' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCSubStatusSME === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCSubStatusSME |translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'City' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOptyCity === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOptyCity | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Auth:Name' | translate}}</span>
                                     </div>
                                     <div class="row bind-text" ng-class="{'fixed-height':opp.sTCBulkLeadContactFirstName === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCBulkLeadContactFirstName}}</span>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-value-display" ng-if="oppListModel.opportunitiesLead.length == 0 && !oppListModel.isRefreshTop">{{'No opportunities to display' | translate}}</div>
                        <div class="col-xs-12 col-md-12 no-value-display"  ng-if="oppListModel.opportunitiesLead.length == 0 && oppListModel.isRefreshTop">{{'Loading Opportunities' | translate}}</div>
                    </div>
                    <div ng-show="oppListModel.selectedCategory === 'Cust:Visits'" class="list-group">
                        <div class="list-group-item oppContainer noOutline" ng-repeat="opp in oppListModel.opportunitiesCustVisit | filter:searchFilter" ng-click="gotoOpportunityDetails(opp.sTCLeadNumber,opp)">
                            <div class="row opplist-fullitem-margin">
                                <div class="col-xs-4 col-md-4 opplist-item1-padding">
                                    <div class="row oppstatus-margin">
                                      <div class="left-aligned-span" ng-class="{'opp-status red':{{opp.colorCode =='red'}} ,'opp-status blue':{{opp.colorCode =='blue'}},'opp-status green':{{opp.colorCode =='green'}},'opp-status yellow':{{opp.colorCode =='yellow'}},'opp-status orange':{{opp.colorCode =='orange'}}}"></div>
                                    </div>
                                    <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Contact' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':(opp.sTCFeedback !== 'Authorized person' && opp.sTCFeedback2 !== 'Authorized person' && opp.sTCFeedback3 !== 'Authorized person')}">
                                      <div ng-click="openDialer(opp.sTCBulkLeadContactNumber,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback ==='Authorized person'">{{opp.sTCBulkLeadContactNumber}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber2,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback2 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback3 !=='Authorized person'">{{opp.sTCContactNumber2}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber3,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback3 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback2 !=='Authorized person'">{{opp.sTCContactNumber3}}</div>
                                    </div>
                                     <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Revenue' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':opp.PrimaryRevenueAmount === null}">
                                      <span class="text-small left-aligned-span bind-text">{{opp.PrimaryRevenueAmount}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                    <div class="row">
                                      <span class="left-aligned-span align-left opp-highlighed-text bind-text">{{opp.name}}</span>
                                    </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Op.Number'| translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCLeadNumber === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCLeadNumber}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'List OP Type' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOpportunityType === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOpportunityType | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Service name' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.serviceName === null||opp.serviceName === ''}">
                                          <span class="text-smaller substatus-bind-text">{{opp.serviceName | translate}}</span>
                                     </div>
                                </div>
                                 <div class="col-xs-4 col-md-4 opplist-item3-padding">
                                     <div class="row opp-flag-margin" ng-class="{'fixed-flag-height':opp.sTCOpportunityPriority !== 'High'}">
                                         <img src="assets/img/opportunityFlag/flag@2x.png" height="15" width="15" ng-show="opp.sTCOpportunityPriority === 'High'">
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Sub Status' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCSubStatusSME === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCSubStatusSME |translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'City' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOptyCity === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOptyCity | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Auth:Name' | translate}}</span>
                                     </div>
                                     <div class="row bind-text" ng-class="{'fixed-height':opp.sTCBulkLeadContactFirstName === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCBulkLeadContactFirstName}}</span>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-value-display" ng-if="oppListModel.opportunitiesCustVisit.length == 0 && !oppListModel.isRefreshTop">{{'No opportunities to display' | translate}}</div>
                        <div class="col-xs-12 col-md-12 no-value-display"  ng-if="oppListModel.opportunitiesCustVisit.length == 0 && oppListModel.isRefreshTop">{{'Loading Opportunities' | translate}}</div>
                    </div>
                    <div ng-show="oppListModel.selectedCategory === 'Cust:Contact'" class="list-group">
                         <div class="list-group-item oppContainer noOutline" ng-repeat="opp in oppListModel.opportunitiesCustContact | filter:searchFilter" ng-click="gotoOpportunityDetails(opp.sTCLeadNumber,opp)">
                            <div class="row opplist-fullitem-margin">
                                <div class="col-xs-4 col-md-4 opplist-item1-padding">
                                    <div class="row oppstatus-margin">
                                      <div class="left-aligned-span" ng-class="{'opp-status red':{{opp.colorCode =='red'}} ,'opp-status blue':{{opp.colorCode =='blue'}},'opp-status green':{{opp.colorCode =='green'}},'opp-status yellow':{{opp.colorCode =='yellow'}},'opp-status orange':{{opp.colorCode =='orange'}}}"></div>
                                    </div>
                                    <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Contact' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':(opp.sTCFeedback !== 'Authorized person' && opp.sTCFeedback2 !== 'Authorized person' && opp.sTCFeedback3 !== 'Authorized person')}">
                                      <div ng-click="openDialer(opp.sTCBulkLeadContactNumber,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback ==='Authorized person'">{{opp.sTCBulkLeadContactNumber}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber2,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback2 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback3 !=='Authorized person'">{{opp.sTCContactNumber2}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber3,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback3 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback2 !=='Authorized person'">{{opp.sTCContactNumber3}}</div>
                                    </div>
                                     <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Revenue' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':opp.PrimaryRevenueAmount === null}">
                                      <span class="text-small left-aligned-span bind-text">{{opp.PrimaryRevenueAmount}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                    <div class="row">
                                      <span class="left-aligned-span align-left opp-highlighed-text bind-text">{{opp.name}}</span>
                                    </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Op.Number'| translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCLeadNumber === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCLeadNumber}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'List OP Type' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOpportunityType === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOpportunityType | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Service name' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.serviceName === null||opp.serviceName === ''}">
                                          <span class="text-smaller substatus-bind-text">{{opp.serviceName  | translate}}</span>
                                     </div>
                                </div>
                                 <div class="col-xs-4 col-md-4 opplist-item3-padding">
                                     <div class="row opp-flag-margin" ng-class="{'fixed-flag-height':opp.sTCOpportunityPriority !== 'High'}">
                                         <img src="assets/img/opportunityFlag/flag@2x.png" height="15" width="15" ng-show="opp.sTCOpportunityPriority === 'High'">
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Sub Status' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCSubStatusSME === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCSubStatusSME |translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'City' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOptyCity === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOptyCity | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Auth:Name' | translate}}</span>
                                     </div>
                                     <div class="row bind-text" ng-class="{'fixed-height':opp.sTCBulkLeadContactFirstName === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCBulkLeadContactFirstName}}</span>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-value-display" ng-if="oppListModel.opportunitiesCustContact.length == 0 && !oppListModel.isRefreshTop">{{'No opportunities to display' | translate}}</div>
                        <div class="col-xs-12 col-md-12 no-value-display"  ng-if="oppListModel.opportunitiesCustContact.length == 0 && oppListModel.isRefreshTop">{{'Loading Opportunities' | translate}}</div>
                    </div>
                    <div ng-show="oppListModel.selectedCategory === 'Proposal'" class="list-group">
                        <div class="list-group-item oppContainer noOutline" ng-repeat="opp in oppListModel.opportunitiesProposal | filter:searchFilter" ng-click="gotoOpportunityDetails(opp.sTCLeadNumber,opp)">
                            <div class="row opplist-fullitem-margin">
                                <div class="col-xs-4 col-md-4 opplist-item1-padding">
                                    <div class="row oppstatus-margin">
                                      <div class="left-aligned-span" ng-class="{'opp-status red':{{opp.colorCode =='red'}} ,'opp-status blue':{{opp.colorCode =='blue'}},'opp-status green':{{opp.colorCode =='green'}},'opp-status yellow':{{opp.colorCode =='yellow'}},'opp-status orange':{{opp.colorCode =='orange'}}}"></div>
                                    </div>
                                    <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Contact' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':(opp.sTCFeedback !== 'Authorized person' && opp.sTCFeedback2 !== 'Authorized person' && opp.sTCFeedback3 !== 'Authorized person')}">
                                      <div ng-click="openDialer(opp.sTCBulkLeadContactNumber,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback ==='Authorized person'">{{opp.sTCBulkLeadContactNumber}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber2,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback2 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback3 !=='Authorized person'">{{opp.sTCContactNumber2}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber3,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback3 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback2 !=='Authorized person'">{{opp.sTCContactNumber3}}</div>
                                    </div>
                                     <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Revenue' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':opp.PrimaryRevenueAmount === null}">
                                      <span class="text-small left-aligned-span bind-text">{{opp.PrimaryRevenueAmount}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                    <div class="row">
                                      <span class="left-aligned-span align-left opp-highlighed-text bind-text">{{opp.name}}</span>
                                    </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Op.Number'| translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCLeadNumber === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCLeadNumber}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'List OP Type' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOpportunityType === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOpportunityType | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Service name' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.serviceName === null||opp.serviceName === ''}">
                                          <span class="text-smaller substatus-bind-text">{{opp.serviceName  | translate}}</span>
                                     </div>
                                </div>
                                 <div class="col-xs-4 col-md-4 opplist-item3-padding">
                                     <div class="row opp-flag-margin" ng-class="{'fixed-flag-height':opp.sTCOpportunityPriority !== 'High'}">
                                         <img src="assets/img/opportunityFlag/flag@2x.png" height="15" width="15" ng-show="opp.sTCOpportunityPriority === 'High'">
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Sub Status' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCSubStatusSME === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCSubStatusSME |translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'City' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOptyCity === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOptyCity | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Auth:Name' | translate}}</span>
                                     </div>
                                     <div class="row bind-text" ng-class="{'fixed-height':opp.sTCBulkLeadContactFirstName === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCBulkLeadContactFirstName}}</span>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-value-display" ng-if="oppListModel.opportunitiesProposal.length == 0 && !oppListModel.isRefreshTop">{{'No opportunities to display' | translate}}</div>
                        <div class="col-xs-12 col-md-12 no-value-display"  ng-if="oppListModel.opportunitiesProposal.length == 0 && oppListModel.isRefreshTop">{{'Loading Opportunities' | translate}}</div>
                    </div>
                    <div ng-show="oppListModel.selectedCategory === 'Win'" class="list-group">
                        <div class="list-group-item oppContainer noOutline" ng-repeat="opp in oppListModel.opportunitiesWin | filter:searchFilter" ng-click="gotoOpportunityDetails(opp.sTCLeadNumber,opp)">
                            <div class="row opplist-fullitem-margin">
                                <div class="col-xs-4 col-md-4 opplist-item1-padding">
                                    <div class="row oppstatus-margin">
                                      <div class="left-aligned-span" ng-class="{'opp-status red':{{opp.colorCode =='red'}} ,'opp-status blue':{{opp.colorCode =='blue'}},'opp-status green':{{opp.colorCode =='green'}},'opp-status yellow':{{opp.colorCode =='yellow'}},'opp-status orange':{{opp.colorCode =='orange'}}}"></div>
                                    </div>
                                    <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Contact' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':(opp.sTCFeedback !== 'Authorized person' && opp.sTCFeedback2 !== 'Authorized person' && opp.sTCFeedback3 !== 'Authorized person')}">
                                      <div ng-click="openDialer(opp.sTCBulkLeadContactNumber,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback ==='Authorized person'">{{opp.sTCBulkLeadContactNumber}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber2,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback2 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback3 !=='Authorized person'">{{opp.sTCContactNumber2}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber3,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback3 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback2 !=='Authorized person'">{{opp.sTCContactNumber3}}</div>
                                    </div>
                                     <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Revenue' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':opp.PrimaryRevenueAmount === null}">
                                      <span class="text-small left-aligned-span bind-text">{{opp.PrimaryRevenueAmount}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                    <div class="row">
                                      <span class="left-aligned-span align-left opp-highlighed-text bind-text">{{opp.name}}</span>
                                    </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Op.Number'| translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCLeadNumber === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCLeadNumber}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'List OP Type' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOpportunityType === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOpportunityType | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Service name' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.serviceName === null||opp.serviceName === ''}">
                                          <span class="text-smaller substatus-bind-text">{{opp.serviceName  | translate}}</span>
                                     </div>
                                </div>
                                 <div class="col-xs-4 col-md-4 opplist-item3-padding">
                                     <div class="row opp-flag-margin" ng-class="{'fixed-flag-height':opp.sTCOpportunityPriority !== 'High'}">
                                         <img src="assets/img/opportunityFlag/flag@2x.png" height="15" width="15" ng-show="opp.sTCOpportunityPriority === 'High'">
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Sub Status' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCSubStatusSME === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCSubStatusSME |translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'City' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOptyCity === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOptyCity | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Auth:Name' | translate}}</span>
                                     </div>
                                     <div class="row bind-text" ng-class="{'fixed-height':opp.sTCBulkLeadContactFirstName === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCBulkLeadContactFirstName}}</span>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-value-display" ng-if="oppListModel.opportunitiesWin.length == 0 && !oppListModel.isRefreshTop">{{'No opportunities to display' | translate}}</div>
                        <div class="col-xs-12 col-md-12 no-value-display"  ng-if="oppListModel.opportunitiesWin.length == 0 && oppListModel.isRefreshTop">{{'Loading Opportunities' | translate}}</div>
                    </div>
                    <div ng-show="oppListModel.selectedCategory === 'Lost'" class="list-group">
                        <div class="list-group-item oppContainer noOutline" ng-repeat="opp in oppListModel.opportunitiesLost | filter:searchFilter" ng-click="gotoOpportunityDetails(opp.sTCLeadNumber,opp)">
                            <div class="row opplist-fullitem-margin">
                                <div class="col-xs-4 col-md-4 opplist-item1-padding">
                                    <div class="row oppstatus-margin">
                                      <div class="left-aligned-span" ng-class="{'opp-status red':{{opp.colorCode =='red'}} ,'opp-status blue':{{opp.colorCode =='blue'}},'opp-status green':{{opp.colorCode =='green'}},'opp-status yellow':{{opp.colorCode =='yellow'}},'opp-status orange':{{opp.colorCode =='orange'}}}"></div>
                                    </div>
                                    <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Contact' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':(opp.sTCFeedback !== 'Authorized person' && opp.sTCFeedback2 !== 'Authorized person' && opp.sTCFeedback3 !== 'Authorized person')}">
                                      <div ng-click="openDialer(opp.sTCBulkLeadContactNumber,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback ==='Authorized person'">{{opp.sTCBulkLeadContactNumber}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber2,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback2 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback3 !=='Authorized person'">{{opp.sTCContactNumber2}}</div>
                                      <div ng-click="openDialer(opp.sTCContactNumber3,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback3 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback2 !=='Authorized person'">{{opp.sTCContactNumber3}}</div>
                                    </div>
                                     <div class="row">
                                      <span class="text-smaller left-aligned-span opp-text-color">{{'Revenue' | translate}}</span>
                                    </div>
                                     <div class="row" ng-class="{'fixed-height':opp.PrimaryRevenueAmount === null}">
                                      <span class="text-small left-aligned-span bind-text">{{opp.PrimaryRevenueAmount}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                    <div class="row">
                                      <span class="left-aligned-span align-left opp-highlighed-text bind-text">{{opp.name}}</span>
                                    </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Op.Number'| translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCLeadNumber === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCLeadNumber}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'List OP Type' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOpportunityType === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOpportunityType | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Service name' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.serviceName === null||opp.serviceName === ''}">
                                          <span class="text-smaller substatus-bind-text">{{opp.serviceName  | translate}}</span>
                                     </div>
                                </div>
                                 <div class="col-xs-4 col-md-4 opplist-item3-padding">
                                     <div class="row opp-flag-margin" ng-class="{'fixed-flag-height':opp.sTCOpportunityPriority !== 'High'}">
                                         <img src="assets/img/opportunityFlag/flag@2x.png" height="15" width="15" ng-show="opp.sTCOpportunityPriority === 'High'">
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Sub Status' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCSubStatusSME === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCSubStatusSME |translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'City' | translate}}</span>
                                     </div>
                                     <div class="row" ng-class="{'fixed-height':opp.sTCOptyCity === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCOptyCity | translate}}</span>
                                     </div>
                                     <div class="row">
                                         <span class="text-smaller opp-text-color">{{'Auth:Name' | translate}}</span>
                                     </div>
                                     <div class="row bind-text" ng-class="{'fixed-height':opp.sTCBulkLeadContactFirstName === null}">
                                          <span class="text-smaller substatus-bind-text">{{opp.sTCBulkLeadContactFirstName}}</span>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 no-value-display" ng-if="oppListModel.opportunitiesLost.length == 0 && !oppListModel.isRefreshTop">{{'No opportunities to display' | translate}}</div>
                        <div class="col-xs-12 col-md-12 no-value-display"  ng-if="oppListModel.opportunitiesLost.length == 0 && oppListModel.isRefreshTop">{{'Loading Opportunities' | translate}}</div>
                    </div>
                    <div ng-show="oppListModel.isRefresh" style="position: fixed;top: 95%;left: 0;z-index: 99999;width: 100%;height: 100vh;text-align:center;"><img src="assets/img/fbloader/fboader_20X20.gif" width="30" height="30" /></div>
                    <div ng-show="oppListModel.isRefreshTop" style="position: fixed;top: 45%;left: 0;z-index: 99999;width: 100%;height: 100vh;text-align:center;"><img src="assets/img/fbloader/fboader_20X20.gif" width="30" height="30" /></div>
                    <!-- <md-fab-speed-dial md-direction="up" ng-show="switchViewEnabled" ng-click="switchViews(!oppListModel.myView)" class="md-scale md-fab-bottom-right md-hover-full speed-dial">
                        <md-fab-trigger>
                            <md-button aria-label="" class="md-fab md-warn add-attachment">
                                <md-icon style="background-image:url('assets/img/user/team_20X20.png');margin: 17px 13px;" ng-if="!oppListModel.myView" md-svg-src=""></md-icon>
                                <md-icon style="background-image:url('assets/img/user/mngr_30X25.png');margin: 17px 7px;" ng-if="oppListModel.myView" md-svg-src=""></md-icon>
                            </md-button>
                        </md-fab-trigger>
                    </md-fab-speed-dial> -->
                </div>
                  <md-fab-speed-dial md-direction="up" ng-show="switchViewEnabled" ng-click="switchViews(!oppListModel.myView)" class="md-scale md-fab-bottom-right md-hover-full speed-dial">
                        <md-fab-trigger>
                            <md-button aria-label="" class="md-fab md-warn add-attachment">
                                <md-icon style="background-image:url('assets/img/user/team_20X20.png');margin: 17px 13px;" ng-if="!oppListModel.myView" md-svg-src=""></md-icon>
                                <md-icon style="background-image:url('assets/img/user/mngr_30X25.png');margin: 17px 7px;" ng-if="oppListModel.myView" md-svg-src=""></md-icon>
                            </md-button>
                        </md-fab-trigger>
                  </md-fab-speed-dial>
			</div>
		</div>
	</div>
</div>
