<div class="wrapper has-navbar-top">
    <div class="app-body">
        <div class="app-content">
            <loading ng-show="isLoading"></loading>
            <div ng-show="!isLoading" class="scrollable-content" style="background-color: #dadada;">
                <div ng-show="calenderViewMode === 'calender' && calender.isNetworkAvailable" class="list-group" style="margin: 0 auto;">
                    <div class="list-group-item no-padding">
                        <div style="position: absolute;height: 7vh;width: 100%;">
                            <div style="outline:none;position:absolute;left:0px;height: 100%;display: table-cell;" ng-click="switchMonth('prev')">
                                <img ng-if="!calender.isFetchingNexMonth" style="margin-top: 23%;display: table;height: 30px;" src="assets/img/calendar/left.svg"
                                />
                            </div>
                            <div style="outline:none;position:absolute;right:0px;height: 100%;display: table-cell;" ng-click="switchMonth('next')">
                                <img ng-if="!calender.isFetchingNexMonth" style="margin-top: 23%;display: table;height: 30px;" src="assets/img/calendar/right.svg"
                                />
                            </div>
                        </div>
                        <div ng-if="calender.isFetchingNexMonth" style="position: absolute;top: 60%;left: 47%;z-index: 999;width: 100%;height: 100vh;text-align:center;">
                            <md-progress-circular md-diameter="40" md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <div id='calendar'></div>
                    </div>
                    <div class="list-group-item no-padding">
                        <div id='eventsCalendar'></div>
                    </div>
                </div>
                <div ng-show="!calender.isNetworkAvailable">
                    <div class="col-xs-12 col-md-12 no-value-display">Calender View is not Available in Offline Mode</div>
                </div>
                <div ng-if="calenderViewMode === 'createActivity'" class="list-group" style="margin: 0 auto;">
                    <div class="list-group-item note-form-label">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Create Activity'|translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Type'|translate}}</span>
                                <span class="required">*</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">
                                    <md-select ng-model="calender.selectedType" placeholder="" class="md-no-underline dropdown">
                                        <md-option ng-repeat="(index,value) in calender.type" ng-value="value.name" ng-click="activityTypeChange(value.name)" ng-selected="index == 0">
                                            {{value.name |translate}}
                                        </md-option>
                                    </md-select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item note-form-label">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Description'|translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 opp-content-padding">
                                <span class="text-small opp-text-color">
                                    <textarea placeholder="{{'Type Description here'|translate}}" rows="3" class="note-area" ng-model="calender.description"
                                        ng-change="descValidate(calender.description)"></textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Opportunity'|translate}}</span>
                                <span class="required">*</span>
                            </div>
                            <div class="col-xs-4 col-md-4 opp-content-padding">
                                <span class="right-aligned-span text-small">{{calender.selectedOpportunityName}}</span>
                            </div>
                            <div class="col-xs-2 col-md-2">
                                <img src="assets/img/arrow/ic_keyboard_arrow.png" ng-click="searchOpportunities()" style="height: 18px;float: right;" />
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Priority'|translate}}</span>
                                <span class="required">*</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">
                                    <md-select ng-model="calender.selectedPriority" placeholder="" class="md-no-underline dropdown">
                                        <md-option ng-repeat="(index,value) in calender.priority" ng-value="value.name" ng-click="activityPriorityChange(value.name)"
                                            ng-selected="index == 0">
                                            {{value.name |translate}}
                                        </md-option>
                                    </md-select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Status'|translate}}</span>
                                <span class="required">*</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">
                                    <md-select ng-model="calender.selectedStatus" placeholder="" class="md-no-underline dropdown">
                                        <md-option ng-repeat="(index,value) in calender.status" ng-value="value.name" ng-click="activityStatusChange(value.name)"
                                            ng-selected="index == 0">
                                            {{value.name |translate}}
                                        </md-option>
                                    </md-select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-md-4 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Start'|translate}}</span>
                            </div>
                            <div class="col-xs-8 col-md-8 opp-content-padding">
                                <input mdc-datetime-picker="" style=" float: right;background-image: url(assets/img/calendar/ic_datepicker.png);background-repeat: no-repeat; background-position: right center;text-align: center;"
                                    date="true" time="true" type="text" id="plannedDate" placeholder="{{'Enter Start Date'|translate}}"
                                    show-todays-date="" min-date="date" ng-model="calender.selectedStartTime" class=" md-input"
                                    readonly="readonly" format="DD/MM/YYYY HH:mm:ss">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-md-4 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'End'|translate}}</span>
                            </div>
                            <div class="col-xs-8 col-md-8 opp-content-padding">
                                <input mdc-datetime-picker="" style=" float: right;background-image: url(assets/img/calendar/ic_datepicker.png);background-repeat: no-repeat; background-position: right center; text-align: center;"
                                    date="true" time="true" type="text" id="plannedCompletionDate" placeholder="{{'Enter End date'|translate}}"
                                    show-todays-date="" min-date="date" ng-model="calender.selectedEndTime" class=" md-input"
                                    ng-change="compareDates(calender.selectedEndTime,calender.selectedStartTime,'Start')" readonly="readonly"
                                    format="DD/MM/YYYY HH:mm:ss">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-md-4 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Due'|translate}}</span>
                            </div>
                            <div class="col-xs-8 col-md-8 opp-content-padding">
                                <input mdc-datetime-picker="" style=" float: right;background-image: url(assets/img/calendar/ic_datepicker.png);background-repeat: no-repeat; background-position: right center; text-align: center;"
                                    date="true" time="true" type="text" id="dueDate" placeholder="{{'Enter Due date'|translate}}"
                                    show-todays-date="" min-date="date" ng-model="calender.selectedDueTime" class=" md-input"
                                    readonly="readonly" format="DD/MM/YYYY HH:mm:ss">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Done'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">
                                    <md-checkbox class="custom-checkbox" ng-model="calender.doneFlag" aria-label="Activity Done"></md-checkbox>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Alarm'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">
                                    <md-checkbox class="custom-checkbox" ng-model="calender.alarmFlag" aria-label="Activity Alarm"></md-checkbox>
                                </span>
                            </div>
                        </div>
                    </div>
                    <md-progress-linear ng-show="calender.showActivityAddLoader" md-mode="indeterminate"></md-progress-linear>
                    <div class="list-group-item note-buttons">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="">
                                    <md-button ng-disabled="calender.showActivityAddLoader" class="md-accent md-raised note-cancel no-margin no-padding" ng-click="cancelActivityEntry()">{{'Cancel'|translate}}</md-button>
                                </span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="">
                                    <md-button ng-disabled="calender.showActivityAddLoader" class="md-accent md-raised auto-quote no-margin no-padding" ng-click="createActivity()">{{'Save'|translate}}</md-button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="calender.showOpportunities" class="custome-popup-detailtab" style="top: 2vh;position: absolute !important;" aria-hidden="false" class="">
                    <div class="custome-popup-detailtab-div">
                        <div class="col-xs-12 custom-popup-close">
                            <span ng-click="calender.showOpportunities = false;">{{'Close' | translate}}</span>
                        </div>
                        <div class="col-xs-12 custom-popup-searchbox">
                            <input class="custom-popup-search-input" ng-model="opptyName" placeholder="{{'Search Opportunity Name' | translate}}" />
                        </div>
                        <div class="col-xs-12 col-md-12 scrollable-content" style="height: 77%;">
                            <ul class="list-inline" style="text-align: left;" ng-repeat="opps in calender.oppList |filter:opptyName">
                                <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px;" ng-click="onOpportunityClick(opps.name,opps.rowId)">
                                    {{opps.name}}
                                </li>
                            </ul>
                        </div>
                        <div ng-if="calender.isNetworkAvailable" ng-click="loadMoreOpportunities()" class="col-xs-12 col-md-12" style="height: 6%; outline: none;">
                            <span>{{'Load More' | translate}}</span>
                        </div>
                        <md-progress-circular ng-show="calender.isFetchingMoreOpps" md-diameter="30" style="left: 45%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
                <md-fab-speed-dial ng-show="calenderViewMode === 'calender' && !isLoading && calender.isNetworkAvailable" md-direction="up"
                    class="md-scale md-fab-bottom-right md-hover-full speed-dial">
                    <md-fab-trigger>
                        <md-button aria-label="Add Activity" class="md-fab md-warn add-attachment" ng-click="doCalenderAddActivity()">
                            <md-icon style="background-image:url('assets/img/header/add/add.png');margin: 18px 12px;" md-svg-src=""></md-icon>
                        </md-button>
                    </md-fab-trigger>
                </md-fab-speed-dial>
            </div>
        </div>
    </div>
</div>