<div ng-class="{'hide': headerComponent.hideHeader}" class="header-shadow navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center header-bar" ui-yield-to="title">
        {{headerComponent.pageTitle | translate}}
    </div>
    <div ng-if="headerComponent.backbutton" class="btn-group pull-left" ng-click="gotoPrevView()">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle header-btn">
            <i class="fa fa-chevron-left"></i>
        </div>
    </div>
    <div ng-if="!headerComponent.backbutton" class="btn-group pull-left" ng-click="openSideNav()">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle header-btn">
                <img src="assets/img/header/hamburger/hamburger@2x.png"/>
       </div>
    </div>
    <div class="btn-group pull-right" ui-yield-to="navbarAction" ng-repeat="prop in headerComponent.buttonProperty" ng-click="triggerHeaderEvents(prop)">
            <div ng-if="prop==='add'" ui-toggle="uiSidebarRight" class="btn sidebar-right-toggle header-btn add-button-container">
                <img src="assets/img/header/add/add@2x.png"/>
            </div>
            <div ng-if="prop==='search'" ui-toggle="uiSidebarRight" class="btn sidebar-right-toggle header-btn">
                <i class="fa fa-search"></i>
            </div>
            <div ng-if="prop==='refresh'" ui-toggle="uiSidebarRight" class="btn sidebar-right-toggle header-btn refresh-button-container" style="padding: 0;">
                <img style="height: 25px;" src="assets/img/header/refresh.svg"/>
            </div>
            <div ng-if="prop==='save'" ui-toggle="uiSidebarRight" class="btn sidebar-right-toggle header-btn refresh-button-container" style="padding: 0;">
                <img style="height: 25px;margin: 5px;" src="assets/img/save.svg"/>
            </div>
    </div>
    <div class="btn-group pull-right" ui-yield-to="navbarAction" ng-if="headerComponent.enableSetLocation" ng-click="setSelectedLocation()">
        <div  ui-toggle="uiSidebarRight" class="btn sidebar-right-toggle header-btn refresh-button-container">
            <img style="height: 25px;" src="assets/img/map_icon/setLocation.svg"/>
        </div>
    </div>
</div>
