<md-dialog class="custom-md-dialog-popup">
    <md-dialog-content>
        <div style="height:80vh;">
            <div class="col-xs-12 custom-popup-close">
                <span ng-click="closeProductTab()" style="outline: none;">{{'Close' | translate}}</span>
            </div>
            <div class="col-xs-12 custom-popup-searchbox">
                <input class="custom-popup-search-input" ng-model="productQuery" placeholder="{{'Search for products' | translate}}" />
            </div>
            <div class="col-xs-12 col-md-12 scrollable-content" ng-show="!productModel.productListLoading" style="height: 77%;">
                <ul class="list-inline" style="text-align: left;" ng-repeat="typeProduct in productModel.typeProductList |filter:productQuery">
                    <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px; outline:none;" ng-click="onTypeProductClick(typeProduct)"
                        ng-if="productModel.editProduct.sTCServiceType2 !== 'Mobile'">
                        {{typeProduct.aliasName}}
                    </li>
                    <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px; outline:none;" ng-click="onTypeProductClick(typeProduct)"
                        ng-if="productModel.editProduct.sTCServiceType2 === 'Mobile'">
                        {{typeProduct.aliasName}} - {{typeProduct.stcPrePostCategory}}
                    </li>
                </ul>
            </div>
            <md-progress-circular ng-show="productModel.productListLoading" md-diameter="30" style="left: 45%;top: 45%;" md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-dialog-content>
</md-dialog>