<div class="scrollable-content greyBackground fullheightDetail" style="background-color: none !important;overflow-x: hidden;">
    <div class="list-group" style="overflow-x: hidden;">
        <div ng-show="productModel.productView === 'list'">
            <div class="col-xs-12 col-md-12 no-value-display" ng-if="productModel.productsList.length === 0">{{'No Products to Display'|translate}}</div>
            <div class="list-group-item product-auto-quote autoquote-backgrund" style="margin-bottom:0px;">
                <div class="row">
                    <div ng-if="productModel.enableEdit" class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="">
                            <md-button class="md-accent md-raised auto-quote no-margin no-padding" ng-click="initiateAutoQuoteMobile($event)" ng-show="productModel.productsList.length !== 0 && productModel.autoQuoteMobileEnabled"
                                ng-disabled="productModel.showAutoQuoteLoader||productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost')">{{'QuoteMob' | translate}}</md-button>
                        </span>
                    </div>
                    <div ng-if="productModel.enableEdit" class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="">
                            <md-button class="md-accent md-raised auto-quote no-margin no-padding" ng-click="initiateAutoQuote($event)" ng-show="productModel.productsList.length !== 0 && productModel.autoQuoteEnabled"
                                ng-disabled="productModel.showAutoQuoteLoader||productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost')">{{'Auto Quote'|translate}}</md-button>
                        </span>
                    </div>
                </div>
            </div>
            <!--<md-footer>-->
            <md-progress-linear ng-show="productModel.showAutoQuoteLoader" md-mode="indeterminate"></md-progress-linear>
            <!--</md-footer>-->
            <div ng-swipe-left="onSwipeLeft(key,this)" class="defaultPditem products pdtItem{{key}} slideToLeft" ng-repeat="(key, product) in productModel.productsList"
                ng-swipe-right="onSwipeRight(key,product,this)" ng-disabled="productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost')">
                <div class="row">
                    <div ng-if="showProductSlideIndicator && product.quoteNumber2 === null && productModel.enableEdit" ng-class="{'animated arrow bounce':showProductSlideIndicator}">
                        <img width="25" height="25" alt="" src="assets/img/arrow/slideArrow.svg" />
                    </div>
                    <div id="productSlider-{{$index}}" class="hidden-pritem text-center col-xs-2 col-md-2">
                        <div class="row" style="transform: translateY(40px);outline:none;" ng-disabled="productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost')">
                            <img src="assets/img/edit/edit.png" ng-click="productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost') || gotoEditProduct($index,productModel.productsList[$index])">
                        </div>
                        <!--<div class="row" style="transform: translateY(95px)" ng-click="openDelete($event)" >-->
                        <div class="row" style="transform: translateY(95px);outline:none;" ng-disabled="productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost')">
                            <img src="assets/img/edit/delete.png" ng-click="productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost') || doDeleteProduct(this,$index,product.id,product)">
                        </div>
                    </div>
                    <div id="productBlock-{{$index}}" class="col-xs-12 col-md-12" style="position:absolute;left:55px;padding-right:0px !important;padding-left: 0px !important;">
                        <div class="list-group-item" style="height:40px" ng-class="{'quoted-products':product.quoteNumber2 !== null}">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{'PName'|translate}}</span>
                                </div>
                                <div class="col-xs-8 col-md-8 opp-content-padding">
                                    <span class="right-aligned-span text-small text-clip">{{product.productAliasName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item" style="height:40px" ng-class="{'quoted-products':product.quoteNumber2 !== null}">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{'PType'|translate}}</span>
                                </div>
                                <div class="col-xs-8 col-md-8 opp-content-padding">
                                    <span class="right-aligned-span text-small text-clip">{{product.sTCServiceType2 |translate}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item" style="height:40px" ng-class="{'quoted-products':product.quoteNumber2 !== null}">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{'Rate Plan'|translate}}</span>
                                </div>
                                <div class="col-xs-8 col-md-8 opp-content-padding">
                                    <span class="right-aligned-span text-small text-clip">{{product.sTCRatePlanAliasName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item" style="height:40px" ng-class="{'quoted-products':product.quoteNumber2 !== null}">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{'Quantity'|translate}}</span>
                                </div>
                                <div class="col-xs-8 col-md-8 opp-content-padding">
                                    <span class="right-aligned-span text-small text-clip">{{product.productQuantity}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item" style="height:40px" ng-class="{'quoted-products':product.quoteNumber2 !== null}">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{'Comments'|translate}}</span>
                                </div>
                                <div class="col-xs-8 col-md-8 opp-content-padding">
                                    <span class="right-aligned-span text-small text-clip">{{product.sTCQuoteComments}}</span>
                                </div>
                            </div>
                        </div>
                        <!--<md-footer>-->
                        <md-progress-linear ng-show="showProductDeleteLoader" md-mode="indeterminate"></md-progress-linear>
                        <!--</md-footer>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="greyBackground" ng-show="productModel.productView === 'create'">
            <div class="list-group-item note-form-label">
                <div class="row">
                    <div class="col-xs-12 col-md-12 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color" ng-if="!productModel.editProduct.id.length">{{'Add Product'|translate}}</span>
                        <span class="left-aligned-span text-small opp-text-color" ng-if="productModel.editProduct.id.length">{{'Edit Product' | translate}}# {{productModel.editProduct.id}}</span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-md-4 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'PType'|translate}}</span>
                        <span class="required">*</span>
                    </div>
                    <div class="col-xs-8 col-md-8 opp-content-padding">
                        <span class="right-aligned-span text-small">
                            <md-select ng-model="productModel.editProduct.sTCServiceType2" placeholder="{{'Select Product Type'|translate}}" class="md-no-underline dropdown"
                                ng-disabled="productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost')">
                                <md-option ng-repeat="(index,value) in productModel.productTypeList" ng-value="value.name" ng-click="oppProductTypeChange(value)"
                                    ng-selected="">
                                    {{value.name | translate}}
                                </md-option>
                            </md-select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item" ng-show="productModel.editProduct.sTCServiceType2 === 'Mobile' && productModel.oppType === 'Upgrade'">
                <div class="row">
                    <div class="col-xs-5 col-md-5 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'Connection Type'|translate}}</span>
                        <span class="required">*</span>
                    </div>
                    <div class="col-xs-7 col-md-7 opp-content-padding">
                        <span class="right-aligned-span text-small">
                            <md-select ng-model="productModel.gsmTypeSelected" placeholder="{{'Select Connection Type'|translate}}" class="md-no-underline dropdown"
                                ng-disabled="productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost')">
                                <md-option ng-repeat="(index,value) in productModel.gsmTypeList" ng-value="value.name" ng-click="oppConnectionTypeChange(value)"
                                    ng-selected="">
                                    {{value.name | translate}}
                                </md-option>
                            </md-select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item" ng-show="productModel.editProduct.sTCServiceType2 === 'Mobile' && productModel.oppType === 'Upgrade'">
                <div class="row">
                    <div class="col-xs-5 col-md-5 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'GSM Number'|translate}}</span>
                        <span class="required">*</span>
                    </div>
                    <div class="col-xs-7 col-md-7 opp-content-padding">
                        <div class="col-xs-11 col-md-11 no-padding" style="text-align: right;">
                            <span class="right-aligned-span text-small text-clip bind-text" style="text-align:right;">
                                <input placeholder="{{'Search GSM Number'|translate}}" ng-model="productModel.gsmNumberSelected" class="right-aligned-text"
                                    readonly="true">
                            </span>
                        </div>
                        <div class="col-xs-1 col-md-1 no-padding">
                            <img src="assets/img/arrow/ic_keyboard_arrow.png" ng-click="showGSMPopup()" style="height: 18px;float: right; outline:none"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-md-4 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'PName'|translate}}</span>
                        <span class="required">*</span>
                    </div>
                    <div class="col-xs-8 col-md-8 opp-content-padding">
                        <div class="col-xs-11 col-md-11 no-padding" style="text-align: right;">
                            <span class="right-aligned-span text-small text-clip bind-text" style="text-align:right;">
                                <input placeholder="{{'Search Product'|translate}}" ng-model="productModel.editProduct.productAliasName" class="right-aligned-text"
                                    readonly="true">
                            </span>
                        </div>
                        <div class="col-xs-1 col-md-1 no-padding">
                            <img src="assets/img/arrow/ic_keyboard_arrow.png" ng-click="(productModel.editProduct.sTCServiceType2 === 'Mobile' && productModel.oppType === 'Upgrade')||showProductPopup()"
                                style="height: 18px;float: right; outline:none" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-md-4 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'Rate Plan'|translate}}</span>
                        <span class="required" ng-show="productModel.editProduct.sTCServiceType2 !== 'Data'">*</span>
                    </div>
                    <div class="col-xs-8 col-md-8 opp-content-padding">
                        <span class="right-aligned-span text-small bind-text">
                            <md-select ng-model="productModel.editProduct.sTCRatePlanAliasName" ng-show="!productModel.ratePlanLoading" placeholder="{{'Select Rate Plan'|translate}}"
                                class="md-no-underline dropdown" ng-disabled="productModel.ratePlanList.length === 0 || productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost')">
                                <md-option ng-repeat="value in productModel.ratePlanList" ng-value="value.aliasName" ng-click="oppRatePlanTypeChange(value)">
                                    {{value.aliasName}}
                                </md-option>
                            </md-select>
                            <img src="assets/img/extracting.gif" ng-show="productModel.ratePlanLoading" style="float:right">
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-md-4 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'Quantity'|translate}}</span>
                    </div>
                    <div class="col-xs-8 col-md-8 opp-content-padding">
                        <span class="right-aligned-span text-small">
                            <input placeholder="{{'Enter Quantity'|translate}}" ng-model="productModel.editProduct.productQuantity" ng-change="productQtyChange(productModel.editProduct.productQuantity)"
                                class="right-aligned-text text-clip">
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item note-form-label">
                <div class="row">
                    <div class="col-xs-12 col-md-12 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'Comments'|translate}}</span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-12 col-md-12 opp-content-padding">
                        <span class="text-small opp-text-color">
                            <textarea ng-model="productModel.editProduct.sTCQuoteComments" ng-change="commentsValidate(productModel.editProduct.sTCQuoteComments)"
                                placeholder="{{'commentsType' |translate}}" rows="3" class="note-area"></textarea>
                        </span>
                    </div>
                </div>
            </div>
            <!--<md-footer>-->
            <md-progress-linear ng-show="productModel.showProductAddLoader" md-mode="indeterminate"></md-progress-linear>
            <!--</md-footer>-->
            <div class="list-group-item note-buttons">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="">
                            <md-button class="md-accent md-raised note-cancel no-margin no-padding" ng-click="cancelProductEntry()" ng-disabled="productModel.showProductAddLoader">{{'Cancel'|translate}}</md-button>
                        </span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="">
                            <md-button class="md-accent md-raised auto-quote no-margin no-padding" ng-click="saveProduct()" ng-disabled="productModel.showProductAddLoader">{{'Save'|translate}}</md-button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="productModel.showProductList" class="custome-popup-detailtab" aria-hidden="false" class="">
    <div class="custome-popup-detailtab-div">
        <div class="col-xs-12 custom-popup-close">
            <span ng-click="closeProductTab()">{{'Close' | translate}}</span>
        </div>
        <div class="col-xs-12 custom-popup-searchbox">
            <input class="custom-popup-search-input" ng-model="productQuery" placeholder="{{'Search for products' | translate}}"
            />
        </div>
        <div class="col-xs-12 col-md-12 scrollable-content" ng-show="!productModel.productListLoading" style="height: 77%;">
            <ul class="list-inline" style="text-align: left;" ng-repeat="typeProduct in productModel.typeProductList |filter:productQuery">
                <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px; outline:none;" ng-click="onTypeProductClick(typeProduct)"
                    ng-if="productModel.editProduct.sTCServiceType2 !== 'Mobile'">
                    {{typeProduct.aliasName}}
                </li>
                <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px; outline:none;" ng-click="onTypeProductClick(typeProduct)"
                    ng-if="productModel.editProduct.sTCServiceType2 === 'Mobile'">
                    {{typeProduct.aliasName}} - {{typeProduct.stcPrePostCategory}}
                </li>
            </ul>
        </div>
        <md-progress-circular ng-show="productModel.productListLoading" md-diameter="30" style="left: 45%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<div ng-show="productModel.showGSMList" class="custome-popup-detailtab" aria-hidden="false" class="">
    <div class="custome-popup-detailtab-div">
        <div class="col-xs-12 custom-popup-close">
            <span ng-click="closeGSMTab()">{{'Close' | translate}}</span>
        </div>
        <div class="col-xs-12 custom-popup-searchbox">
            <input class="custom-popup-search-input" ng-model="GSMQuery" placeholder="{{'Search for a GSM Number' | translate}}"
            />
        </div>
        <div class="col-xs-12 col-md-12 scrollable-content" ng-show="!productModel.gsmListLoading" style="height: 77%;">
            <ul class="list-inline" style="text-align: left;" ng-repeat="gsmType in productModel.gsmNumbersList |filter:GSMQuery">
                <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px;" ng-click="onTypeGSMClick(gsmType)">
                    {{gsmType.serialNumber}}
                </li>
            </ul>
        </div>
        <md-progress-circular ng-show="productModel.gsmListLoading" md-diameter="30" style="left: 45%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<md-fab-speed-dial ng-show="productModel.productView === 'list' && productModel.enableEdit" md-direction="up" class="md-scale md-fab-bottom-right md-hover-full speed-dial">
    <md-fab-trigger>
        <md-button aria-label="Add Product" class="md-fab md-warn add-attachment" ng-click="doAddProduct()" ng-disabled="productModel.salesStage.includes('Win')||productModel.salesStage.includes('Lost')">
            <md-icon style="background-image:url('assets/img/header/add/add.png');margin: 18px 12px;" md-svg-src=""></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
    </md-fab-actions>
</md-fab-speed-dial>