<div class="scrollable-content greyBackground fullheightDetail" style="background-color: none !important;overflow-x: hidden;">
    <div class="list-group">
        <div class="list-group-item list-groupitem-reduced greyBackground" ng-show="notesModel.noteView === 'list'">
            <div class="row">
                <div class="col-xs-12 col-md-12 no-value-display" ng-if="notesModel.notesList.length == 0">{{'No Notes to Display'|translate}}</div>
                <div class="col-xs-12 col-md-12 no-padding notetiles-margin">
                    <div class="col-xs-6 col-md-6 text-center no-padding" ng-repeat="note in notesModel.notesList">
                        <md-card>
                            <md-card-content>
                                <div class="row notes-text-container bind-text">
                                    <span class="note-content-color">{{note.note}}</span>
                                </div>
                                <div class="row notes-type-container">
                                    <span class="note-content-color">{{'Type' | translate}}</span>
                                </div>
                                <div class="row notes-text-container">
                                    <div class="col-xs-6 col-md-6 no-padding text-left">
                                        <span class="note-type">{{note.noteType |translate}}</span>
                                    </div>
                                    <div ng-if="notesModel.enableEdit" class="col-xs-3 col-md-3 no-padding text-center">
                                        <img src="assets/img/note_edit/note_edit.png" style="outline: none;" ng-click="notesModel.salesStage.includes('Win')||notesModel.salesStage.includes('Lost')||doEditNote($index,note)"
                                            ng-disabled="notesModel.salesStage.includes('Win')||notesModel.salesStage.includes('Lost')"
                                        />
                                    </div>
                                    <div ng-if="notesModel.enableEdit" class="col-xs-3 col-md-3 no-padding text-center">
                                        <img src="assets/img/delete/delete.png" style="outline: none;" ng-click="notesModel.salesStage.includes('Win')||notesModel.salesStage.includes('Lost')||doDeleteNote(this,$index, note)"
                                            ng-disabled="notesModel.salesStage.includes('Win')||notesModel.salesStage.includes('Lost')"
                                        />
                                    </div>
                                </div>
                            </md-card-content>
                            <md-card-footer>
                                <div class="row notes-text-container">
                                    <span class="note-footer">{{note.createdDate}}</span>
                                    <md-progress-linear  ng-show="note.showNoteDeleteLoader" md-mode="indeterminate" style="margin-top:25px"></md-progress-linear>
                                </div>
                            </md-card-footer>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="greyBackground" ng-show="notesModel.noteView === 'create'">
            <div class="list-group-item note-form-label">
                <div class="row">
                    <div class="col-xs-12 col-md-12 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color" ng-if="!notesModel.noteAddRequestParams.id.length">{{'Add Note' | translate}}</span>
                        <span class="left-aligned-span text-small opp-text-color" ng-if="notesModel.noteAddRequestParams.id.length">{{'Edit Note' | translate}} {{notesModel.noteAddRequestParams.id}}</span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Type' |translate}}</span>
                        <span class="required">*</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <md-select ng-model="notesModel.noteAddRequestParams.noteType" placeholder="" class="md-no-underline dropdown">
                            <md-option ng-repeat="(index,value) in notesModel.noteTypeList" ng-value="value.name" ng-click="noteTypeChange(value.name)"
                                ng-selected="index == 0">
                                {{value.name |translate}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class="list-group-item note-form-label">
                <div class="row">
                    <div class="col-xs-12 col-md-12 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'Notes'|translate}}</span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-12 col-md-12 opp-content-padding">
                        <span class="text-small opp-text-color">
                                <textarea ng-model="notesModel.noteAddRequestParams.note" ng-change="noteValidate(notesModel.noteAddRequestParams.note)" placeholder="{{'Type Note here' | translate}}" rows="5" class="note-area"></textarea>
                            </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item noteCreatedBy-top">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'Created By'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span ng-model="notesModel.noteAddRequestParams.sTCCreatedByLogin" class="right-aligned-span text-small">
                                {{notesModel.noteAddRequestParams.sTCCreatedByLogin}}
                            </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item noteCreatedBy-bottom">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color">{{'Date'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span ng-model="notesModel.noteAddRequestParams.createdDate" class="right-aligned-span text-small">{{notesModel.noteAddRequestParams.createdDate}}</span>
                    </div>
                </div>
            </div>
            <md-progress-linear ng-show="notesModel.showNoteAddLoader" md-mode="indeterminate"></md-progress-linear>
            <div class="list-group-item note-buttons">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="">
                                <md-button class="md-accent md-raised note-cancel no-margin no-padding" ng-click="cancelNoteEntry()" ng-disabled="notesModel.showNoteAddLoader">{{'Cancel'|translate}}</md-button>
                            </span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="">
                                <md-button class="md-accent md-raised auto-quote no-margin no-padding" ng-click="saveNote()" ng-disabled="notesModel.showNoteAddLoader">{{'Save'|translate}}</md-button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<md-fab-speed-dial ng-show="notesModel.noteView === 'list' && notesModel.enableEdit" md-direction="up" class="md-scale md-fab-bottom-right md-hover-full speed-dial">
    <md-fab-trigger>
        <md-button aria-label="Add" class="md-fab md-warn add-notes">
            <md-icon style="background-image:url('assets/img/header/add/add.png');margin: 18px 12px;" md-svg-src=""></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Note" class="md-fab md-raised md-mini add-notes" ng-click="doCreateNote()" ng-disabled="notesModel.salesStage.includes('Win')||notesModel.salesStage.includes('Lost')">
            <md-icon md-svg-src="" style="background-image:url('assets/img/note/note.png')!important;margin: 6px 6px;"></md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>