<div class="wrapper has-navbar-top">
	<div class="app-body">
		<div ng-show="loginModel.loading" class="app-content-loading">
			<i class="fa fa-spinner fa-spin loading-spinner"></i>
		</div>
		<div class="app-content">
			<div class="scrollable ng-scope" ui-shared-state="searchBar" ng-class="{searchBar: dashboardModel.searchBar}">
				<div class="scrollable-content no-horizontal-scroll">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<div class="app-logo app-container">
								<img class="" src="assets/img/logo/applogo@2x.png">
							</div>
						</div>
						<div ng-if="!loginModel.isCheckingforUpdates && !loginModel.isDeviceRooted" class="col-xs-12 col-md-12">
							<form class="login-form app-container ng-pristine ng-valid">
								<div>
									<div>
										<input class="login-form-username login-input" id="username" ng-model="loginModel.userId" type="text" placeholder="{{'Username'|translate}}">
									</div>
									<div class="login-seperator"></div>
									<div>
										<input class="login-form-password login-input" id="password" ng-model="loginModel.password" type="password" placeholder="{{'Password'|translate}}">
									</div>
								</div>
							</form>
						</div>
						<div ng-if="!loginModel.isCheckingforUpdates && !loginModel.isDeviceRooted " class="col-xs-12 col-md-12">
							<div class="login-btn-container app-container">
								<md-button class="md-accent md-raised login-btn no-margin no-padding" ng-disabled="loginModel.disableLogin" ng-click="checkIfLoginEnabled()">{{loginModel.loginBtnText | translate}}</md-button>
							</div>
						</div>
						<div ng-if="!loginModel.isCheckingforUpdates && !loginModel.isDeviceRooted" class="col-xs-12 col-md-12">
							<div class="col-xs-9 col-md-9">
								<div class="col-xs-5 col-md-5 no-padding" style="text-align: center;margin-top: 5px;">
									<div class="center-aligned-span langSelect" ng-if="!loginModel.isEnglish">العربية</div>
									<div class="center-aligned-span" ng-if="loginModel.isEnglish">العربية</div>
								</div>
								<div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
									<md-switch ng-model="loginModel.isEnglish" aria-label="Toggle Language" ng-change="languageChange()">
									</md-switch>
								</div>
								<div class="col-xs-5 col-md-5 no-padding" style="text-align: center;margin-top: 5px;">
									<div class="center-aligned-span" ng-if="!loginModel.isEnglish">English</div>
									<div class="center-aligned-span langSelect" ng-if="loginModel.isEnglish">English</div>
								</div>
							</div>
							<div class="col-xs-3 col-md-3"></div>
						</div>
						<div ng-if="loginModel.isCheckingforUpdates && !loginModel.isDeviceRooted" style="margin-top: 20%;padding: 16%;" class="col-xs-12 col-md-12">
                            <span style="color: black;line-height: 36px;">{{loginModel.updateLoaderText|translate}}</span>
							 <md-progress-linear ng-if="loginModel.updateLoaderText === 'Checking For Updates..'" md-mode="indeterminate"></md-progress-linear> 
							<md-progress-linear ng-if="loginModel.updateLoaderText !== 'Checking For Updates..'" md-mode="determinate" ng-value="loginModel.upgradePercentage"></md-progress-linear>
                         </div>
						 <div ng-if="!loginModel.isCheckingforUpdates &&loginModel.isDeviceRooted" style="padding: 16%;" class="col-xs-12 col-md-12">
							 <span style="font-size: 20px;font-weight: bold;color: orange;line-height: 70px;">Warning !</span><br>
                            <span style="color: black;line-height: 26px;font-weight: 400;font-size: 15px;">STC Winner is Restricted to be used in a Rooted/JailBreaked Devices.</span><br>
							<md-button style="margin: 25px auto !important" class="md-accent md-raised login-btn no-margin no-padding" ng-click="closeApplication()">CLOSE APPLICATION</md-button>
                         </div>
						<!--<div class="col-xs-12 col-md-12 text-center">
							<div style="margin-top: 35px;color: rgb(221,0,126);outline:none;" ng-click="showOTPPrompt()" ng-show="loginModel.showOTPlink">Enter OTP</div>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>