<chat-side-bar></chat-side-bar>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable ng-scope" ui-shared-state="searchBar">
            <div class="scrollable-content homeContainer-new" style="overflow-x: hidden;">
                <div ng-if="!homeModel.isSyncingEvents" class="row" id="hometop">
                    <div class="col-xs-12 col-md-12">
                        <div class="navbar-brand navbar-brand-center" style="color:#da3f7b;padding-right: 40px;" ui-yield-to="title">
                            {{'Home' | translate}}
                        </div>
                        <div class="btn-group pull-left" ng-click="openSideNav()">
                            <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle header-btn">
                                <img src="assets/img/header/hamburger/hamburger_V@2x.png" />
                            </div>
                        </div>
                        <div class="btn-group pull-right" style="margin: 0px 3px 0px 3px;" ui-yield-to="navbarAction" ng-click="openChatSideNav()">
                            <div ui-toggle="uiSidebarRight" style="padding: 5px 5px 5px 0px;width: 28px;" class="btn sidebar-right-toggle header-btn">
                                <img src="assets/img/chat/chat.png" />
                            </div>
                        </div>
                        <div class="btn-group pull-right" style="margin: 0px 3px 0px 3px;" ui-yield-to="navbarAction" ng-click="addOpp()">
                            <div ui-toggle="uiSidebarRight" style="padding: 5px 5px 0px 0px;width: 25px;" class="btn sidebar-right-toggle header-btn">
                                <img src="assets/img/header/add/add_V@2x.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!homeModel.isSyncingEvents" style="height:25vh;margin-top: 2%;" class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="row no-margin home-pic-holder">
                            <img src='assets/img/slidingDp.png' class="home-pic" ng-click="changePhoto()" ng-if="$root.profileImage === null">
                            <img class="home-pic" ng-click="changePhoto()" ng-if="$root.profileImage !== null" ng-src="{{profileImage}}">
                        </div>
                        <div class="row no-margin home-pic-holder-selected" ng-show="homeModel.updatePhotoSelect">
                            <span  ng-click="updatePhoto()" style="outline:none;">{{'Update Photo' | translate}}</span>
                        </div>
                        <div class="row no-margin" style="text-align:center;padding-top: 1%;">
                            <span style="font-size: 17px;" class="home-login-name">{{firstName}}</span>
                        </div>
                    </div>
                </div>
                <div ng-if="!homeModel.isSyncingEvents" style="height:63vh;outline:none;" class="row no-margin">
                    <!-- Draggable Icons -->
                    <ul id="homeIcons" style="list-style:none;padding:0;" ui-sortable="homeModel.sortableOptions" ng-model="homeModel.moduleTags">
                        <li on-long-press="handleHomeScreenEdit('lngPress')" long-press-duration="1200" on-touch-end="handleHomeScreenEdit('tchEnd')"
                            prevent-click="true" ng-repeat="module in homeModel.moduleTags" class="col-xs-6 col-md-6 text-center no-padding">
                            <md-card class="homemdcard" ng-click="gotoView(module.name,module.route,module.enable)">
                                <md-card-content class="homemdcard-content">
                                    <div class="homecard">
                                        <div class="row">
                                            <div class="homecard-container">
                                                <img ng-src="{{module.image}}" class=" no-outline md-card-image homecard-img vcenter" alt="image caption">
                                                <br>
                                                <span style="font-size: 13px;" ng-class="{disableHomeIcons:!module.enable}" class="home-content-text-new vcenter">{{module.name | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </li>
                    </ul>
                    <!-- Draggable Icons -->
                    <!-- Static Icons -->
                    <!-- <div ng-repeat="module in homeModel.moduleTags">
                            <div class="col-xs-6 col-md-6 text-center no-padding">
                                <div class="homecard" >
                                    <div class="row">
                                        <div class="homecard-container">
                                            <img ng-src="{{module.image}}" class=" no-outline md-card-image homecard-img vcenter" alt="image caption" ng-click="gotoView(module.name,module.route,module.enable)">
                                            <br>
                                            <span style="font-size: 13px;" ng-class="{disableHomeIcons:!module.enable}" class="home-content-text vcenter">{{module.name | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    <!-- Static Icons -->
                </div>
                <div ng-if="homeModel.isSyncingEvents" class="row" style="height:97vh;">
                    <div style="margin-top: 6%;padding-left: 16%;" class="col-xs-12 col-md-12">
                        <span style="font-size: 17px;" class="home-login-name">{{'Welcome'|translate}} {{firstName}}</span>
                    </div>
                    <div style="margin-top: 34%;padding: 16%;" class="col-xs-12 col-md-12">
                        <span style="color: white;line-height: 36px;">{{homeModel.SyncLoaderText|translate}}</span>
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                    </div>
                </div>
                <div style="height:3vh;text-align: center;" class="row no-margin">
                    <span style="color: #da3f7b;font-weight: bolder;">{{'Version' | translate}} {{homeModel.verNumber}}</span>
                </div>
            </div>
        </div>
    </div>
</div>