<div class="wrapper has-navbar-top">
    <div class="app-body">
        <div class="app-content">
            <loading ng-show="oppDetailModel.isLoading"></loading>
            <div ng-show="!oppDetailModel.isLoading" ng-if="!oppDetailModel.reloading" class="scrollable oppContainer ng-scope" ui-shared-state="searchBar" ng-class="{searchBar: dashboardModel.searchBar}">
                <input ng-if="dashboardModel.searchBar" type="search" class="form-control scrollable-header needsclick ng-scope" placeholder="Search..">
                <md-tabs md-selected="selectedIndex" id="details">
                    <md-tab md-on-select="onOppDetailTabChanges('Details',0)">
                        <md-tab-label>{{'Details'|translate}}</md-tab-label>
                        <md-tab-body>
                            <detail-details details="{'allDetails':oppDetails,'isEditable':oppDetailModel.isDetailEditable}" mapcall-fn="loadMap()" updateopp-fn="updateOfflineOpportunity(params,lastParams,type,action,callback)"></detail-details>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-on-select="onOppDetailTabChanges('Notes',1)">
                        <md-tab-label>{{'Notes'|translate}}</md-tab-label>
                        <md-tab-body>
                            <detail-notes notes="{'rowId':oppDetails.rowId,'allNotes':oppDetails.ListOfOpportunityNote,'salesStage':oppDetails.salesStage,'isEditable':oppDetailModel.isDetailEditable}" updateopp-fn="updateOfflineOpportunity(params,lastParams,type,action,callback)"></detail-notes>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-on-select="onOppDetailTabChanges('Attachments',2)">
                         <md-tab-label>{{'Attachments'|translate}}</md-tab-label>
                         <md-tab-body>
                            <detail-attachments attachment="{'rowId':oppDetails.rowId,'name':oppDetails.name,'allAttachments':oppDetails.ListOfOpportunityAttachment,'salesStage':oppDetails.salesStage,'isEditable':oppDetailModel.isDetailEditable}" updateopp-fn="updateOfflineOpportunity(params,lastParams,type,action,callback)"></detail-attachments>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-on-select="onOppDetailTabChanges('Products',3)">
                        <md-tab-label>{{'Products'|translate}}</md-tab-label>
                        <md-tab-body>
                              <detail-products products="{'rowId':oppDetails.rowId,'name':oppDetails.name,'allProducts':oppDetails.ListOfOpportunityProduct,'salesStage':oppDetails.salesStage,'oppType':oppDetails.sTCOpportunityType,'accountId':oppDetails.accountId,'isEditable':oppDetailModel.isDetailEditable,'revenueAmount':oppDetails.PrimaryRevenueAmount}" updateopp-fn="updateOfflineOpportunity(params,lastParams,type,action,callback)"></detail-products>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-on-select="onOppDetailTabChanges('Quotes',4)">
                        <md-tab-label>{{'Quotes'|translate}}</md-tab-label>
                        <md-tab-body>
                              <detail-quotes quotes="{'allQuotes':oppDetails.ListOfQuote2,'details':oppDetails,'isEditable':oppDetailModel.isDetailEditable}" updateopp-fn="updateOfflineOpportunity(params,lastParams,type,action,callback)"></detail-quotes>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-on-select="onOppDetailTabChanges('Activity',5)">
                         <md-tab-label>{{'Activity'|translate}}</md-tab-label>
                         <md-tab-body>
                            <detail-activity activity="{'rowId':oppDetails.rowId,'allActivities':oppDetails.listOfAction,'salesStage':oppDetails.salesStage,'isEditable':oppDetailModel.isDetailEditable}" updateopp-fn="updateOfflineOpportunity(params,lastParams,type,action,callback)"></detail-activity>
                        </md-tab-body>
                    </md-tab>
                    <md-tab md-on-select="onOppDetailTabChanges('Map',6)">
                        <md-tab-label>{{'Map'|translate}}</md-tab-label>
                        <md-tab-body>
                              <detail-map ng-if="oppDetailModel.selectedCategory==='Map'" map="{'rowId':oppDetails.rowId,'details':oppDetails,'decimalLatitude':oppDetails.decimalLatitude,'decimalLongitude':oppDetails.decimalLongitude,'isEditable':oppDetailModel.isDetailEditable}" updateopp-fn="updateOfflineOpportunity(params,type,lastParams,action,callback)"></detail-map>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</div>