<div class="wrapper has-navbar-top">
    <div class="app-body">
        <div ng-show="dashboardModel.loading" class="app-content-loading">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content">
            <loading ng-show="quoteListModel.isLoading"></loading>
            <div ng-show="!quoteListModel.isLoading" class="scrollable quoteContainer ng-scope" ui-shared-state="searchBar" ng-class="{searchBar: dashboardModel.searchBar}">
                 <div class="row" ng-if="quoteListModel.search" style="background: white;padding-left: 10px;border-bottom: 1px solid #ddd;"> 
        <div class="col-xs-10 col-md-10" style="height:50px">     
              <input ng-if="quoteListModel.search" ng-model="quoteListModel.searchText" ng-change="searchFilter()" type="search" style="background: transparent;border: none;padding-left: 20px;padding-right: 0px;" class="form-control scrollable-header needsclick ng-scope"
                placeholder="{{'Search' | translate}}">

        </div> 
            <div  class="col-xs-2 col-md-2" ng-click="searchQuotesByText()" style="height: 50px;padding-top: 10px;outline:none;">
              <img src="assets/img/search/search.svg" width="25" height="25" />
            </div>  
       </div> 


                <!--<input ng-if="quoteListModel.search" ng-model="quoteListModel.searchText" ng-change="searchFilter()" type="search" class="input-search form-control scrollable-header needsclick ng-scope"
                placeholder="{{'Search' | translate}}">-->
                <div class="scrollable-content quote-background" style="-webkit-overflow-scrolling: touch;" app-scroll on-list-scrolled="loadMoreQuotes()">
                    <div class="list-group" style="margin-bottom: 0px;">
                        <div class="list-group-item quoteContainer">
                            <div class="row quotelist-fullitem-margin quote-item" ng-repeat="quote in quoteListModel.quotes | filter:searchFilter">
                                <div class="col-xs-4 col-md-4 text-center quotelist-item1-padding">
                                    <div class="row quote-status-margin">
                                        <div class="left-aligned-span" ng-class="{'opp-status red':{{quote.colorCode =='red'}} ,'opp-status blue':{{quote.colorCode =='blue'}},'opp-status green':{{quote.colorCode =='green'}},'opp-status yellow':{{quote.colorCode =='yellow'}},'opp-status orange':{{quote.colorCode =='orange'}}}"></div>
                                    </div>
                                    <div class="row">
                                        <span class="text-smaller left-aligned-span quote-text-color">{{'Quote' | translate}}</span>
                                    </div>
                                    <div class="row quote-item1-margin">
                                        <span class="text-small left-aligned-span bind-text">{{quote.quoteNumber}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="text-smaller left-aligned-span quote-text-color">OP#</span>
                                    </div>
                                    <div class="row">
                                        <span class="text-small left-aligned-span bind-text">{{quote.opportunityNumber}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 no-padding text-center">
                                    <div class="row quote-name-margin">
                                        <span class="left-aligned-span quote-highlighed-text bind-text">{{quote.name}}</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6 no-padding text-center">
                                            <span class="left-aligned-span text-smaller quote-text-color">{{'QuoteOPName' | translate}}</span>
                                        </div>
                                        <div class="col-xs-6 col-md-6 no-padding text-center bind-text">
                                            <span class="center-aligned-span text-smaller">{{quote.opportunity}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6 no-padding text-center">
                                            <span class="left-aligned-span text-smaller quote-text-color">{{'Account Number' | translate}}</span>
                                        </div>
                                        <div class="col-xs-6 col-md-6 no-padding text-center bind-text">
                                            <span class="center-aligned-span text-smaller">{{quote.accountNumber}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6 no-padding text-center">
                                            <span class="left-aligned-span text-smaller quote-text-color">{{'Assigned To' | translate}}</span>
                                        </div>
                                        <div class="col-xs-6 col-md-6 no-padding text-center bind-text">
                                            <span class="center-aligned-span text-smaller">{{quote.listOfQuoteSalesTeam.quoteSalesTeam[0].salesTeam}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 text-left quotelist-item3-padding">
                                    <div class="row">
                                        <span class="text-smaller quote-text-color">{{'Status' | translate}}</span>
                                    </div>
                                    <div class="row bind-text">
                                        <span class="text-smaller">{{quote.status}}</span>
                                    </div>
                                     <div class="row">
                                        <span class="text-smaller quote-text-color">{{'Comments' | translate}}</span>
                                    </div>
                                    <div class="row bind-text">
                                        <span class="text-smaller">{{quote.description}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 no-account-display" ng-if="quoteListModel.quotes.length == 0">{{'No Quotes to Display'|translate}}</div>
                            <div ng-show="quoteListModel.isRefresh" style="position: fixed;top: 45%;left: 0;z-index: 99999;width: 100%;height: 100vh;text-align:center;"><img src="assets/img/fbloader/fboader_20X20.gif" width="30" height="30" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>