<md-bottom-sheet style="padding: 8px 0px 70px;-webkit-transform: translate3d(0, 80px, 0);transform: translate3d(0, 80px, 0);">
    <div class="md-subheader _md" style="text-align: center;line-height: 14px;" role="heading" aria-level="2">
        <div class="md-subheader-inner">
            <div style="color:black;" class="md-subheader-content">
                <span>{{'Please Select an option to Continue' | translate}}</span>
            </div>
        </div>
    </div>
    <md-list style="padding: 8px 0px 0px 0px;">
        <md-list-item style="border: 1px solid #ddd;" role="listitem" class="md-no-proxy ng-scope _md md-clickable">
                <img style="width: 28px;margin-right: 10px;" src="assets/img/attachment/gallery.svg">
                <label style="width: 100%;line-height: 44px;" class="md-inline-list-icon-label ng-binding ng-scope" onclick='Util.getBottomSheetFileInfo("gallery",this)'>{{'Select Image From Gallery' | translate}}</label>
        </md-list-item>
        <md-list-item style="border-bottom: 1px solid #ddd;" role="listitem" class="md-no-proxy ng-scope _md md-clickable">
            <img style="width: 28px;margin-right: 10px;" src="assets/img/attachment/filemanager.svg">
            <input type="file" id="files" style="display:none" onchange='Util.getBottomSheetFileInfo("storage",this)'/>
            <label for="files" style="width: 100%;line-height: 44px;" class="md-inline-list-icon-label ng-binding ng-scope">{{'Select File From Storage' | translate}}</label>
        </md-list-item>
    <md-list>
</md-bottom-sheet>