<md-dialog class="custom-md-dialog-popup">
    <md-dialog-content>
        <div style="height:80vh;">
            <div class="col-xs-12 custom-popup-close">
                <span ng-click="closeGSMTab()" style="outline: none;">{{'Close' | translate}}</span>
            </div>
            <div class="col-xs-12 custom-popup-searchbox">
                <input class="custom-popup-search-input" ng-model="GSMQuery" placeholder="{{'Search for a GSM Number' | translate}}" />
            </div>
            <div class="col-xs-12 col-md-12 scrollable-content" ng-show="!productModel.gsmListLoading" style="height: 77%;">
                <ul class="list-inline" style="text-align: left;" ng-repeat="gsmType in productModel.gsmNumbersList |filter:GSMQuery">
                    <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px;outline: none;" ng-click="onTypeGSMClick(gsmType)">
                        {{gsmType.serialNumber}}
                    </li>
                </ul>
            </div>
            <md-progress-circular ng-show="productModel.gsmListLoading" md-diameter="30" style="left: 45%;top: 45%;" md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-dialog-content>
</md-dialog>