<md-dialog class="custom-md-dialog-popup">
    <md-dialog-content>
        <div style="height:80vh;">
            <div class="col-xs-12 custom-popup-close">
                <span ng-click="calender.showOpportunities = false;" style="outline: none;">{{'Close' | translate}}</span>
            </div>
            <div class="col-xs-12 custom-popup-searchbox">
                <input class="custom-popup-search-input" ng-model="opptyName" placeholder="{{'Search Opportunity Name' | translate}}" />
            </div>
            <div class="col-xs-12 col-md-12 scrollable-content" style="height: 77%;">
                <ul class="list-inline" style="text-align: left;" ng-repeat="opps in calender.oppList |filter:opptyName">
                    <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px; outline: none;" ng-click="onOpportunityClick(opps.name,opps.rowId)">
                        {{opps.name}}
                    </li>
                </ul>
            </div>
            <div ng-if="calender.isNetworkAvailable" ng-click="loadMoreOpportunities()" class="col-xs-12 col-md-12" style="height: 6%; outline: none; text-align :center;">
                <span>{{'Load More' | translate}}</span>
            </div>
            <md-progress-circular ng-show="calender.isFetchingMoreOpps" md-diameter="30" style="left: 45%;top: 45%;" md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-dialog-content>
</md-dialog>