<div class="wrapper has-navbar-top">
  <div class="app-body">
    <div ng-show="dashboardModel.loading" class="app-content-loading">
      <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>
    <div class="app-content">
      <loading ng-show="accListModel.isLoading"></loading>
      <div ng-show="!accListModel.isLoading" class="scrollable accContainer ng-scope" ui-shared-state="searchBar" ng-class="{searchBar:accListModel.search}">
        <div class="row" ng-if="accListModel.search" style="background: white;padding-left: 10px;border-bottom: 1px solid #ddd;"> 
          <div class="col-xs-10 col-md-10" style="height:50px">     
            <input ng-if="accListModel.search" ng-model="accListModel.searchText" ng-change="searchFilter()" type="search" class=" form-control scrollable-header needsclick ng-scope"
            placeholder="{{'Search' | translate}}" style="background: transparent;border: none;padding-left: 20px;padding-right: 0px;">
          </div> 
            <div  class="col-xs-2 col-md-2" ng-click="searchAccountsByText()" style="height: 50px;padding-top: 10px;outline:none;">
              <img src="assets/img/search/search.svg" width="25" height="25" />
            </div>  
       </div>     
        <div class="scrollable-content"  style="-webkit-overflow-scrolling: touch;" app-scroll on-list-scrolled="loadMoreAccounts()">
          <div class="row no-margin list-group-item" ng-repeat="account in accListModel.accounts | filter:searchFilter" style="margin-bottom:10px !important;border-bottom:none !important">
            <div class="col-xs-4 col-md-4 text-center opplist-item1-padding">
              <div class="padding-bottom-ten">
                <div class="row text-left">
                  <span class="text-smaller opp-text-color ">{{'Account Name' | translate}}</span>
                </div>
                <div class="row text-left bind-text">
                  <span class="text-smaller bind-text">{{account.name}}</span>
                </div>
              </div>
              <div class="padding-bottom-ten">
                <div class="row text-left">
                  <span class="text-smaller opp-text-color">{{'Account Number' | translate}}</span>
                </div>
                <div class="row text-left bind-text">
                  <span class="text-smaller bind-text">{{account.masterAccountNumber}}</span>
                </div>
              </div>
              <div class="padding-bottom-ten">
                <div class="row text-left">
                  <span class="text-smaller opp-text-color">{{'Account Class' | translate}}</span>
                </div>
                <div class="row text-left bind-text">
                  <span class="text-smaller bind-text">{{account.masterAccountType}}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-md-4 text-center opplist-item2-padding">
              <div class="padding-bottom-ten">
                <div class="row text-left bind-text">
                  <span class="text-smaller opp-text-color">{{'ID Type' | translate}}</span>
                </div>
                <div class="row text-left bind-text">
                  <span class="text-small left-aligned-span bind-text">{{account.stcMasterAccountIdType}}</span>
                </div>
              </div>
              <div class="padding-bottom-ten">
                <div class="row text-left">
                  <span class="text-smaller opp-text-color">{{'ID No' | translate}}</span>
                </div>
                <div class="row text-left bind-text">
                  <span class="text-smaller bind-text">{{account.stcMasterAccountIdNumberDup}}</span>
                </div>
              </div>
              <div class="padding-bottom-ten">
                <div class="row text-left">
                  <span class="text-smaller opp-text-color">{{'Status' | translate}}</span>
                </div>
                <div class="row text-left bind-text">
                  <span class="text-smaller bind-text">{{account.accountStatus}}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-md-4 text-center opplist-item3-padding">
              <div class="padding-bottom-ten">
                <div class="row text-left">
                  <span class="text-smaller opp-text-color">{{'Customer Type' | translate}}
                </div>
                <div class="row text-left bind-text">
                  <span class="text-smaller bind-text">{{account.accountTypeCode}}</span>
                </div>
              </div>
              <div class="padding-bottom-ten">
                <div class="row text-left">
                  <span class="text-smaller opp-text-color">{{'Customer Sub-Type' | translate}}</span>
                </div>
                <div class="row text-left bind-text">
                  <span class="text-smaller bind-text">{{account.stcAccountSubType}}</span>
                </div>
              </div>
            </div>
          </div>
          <div ng-show="accListModel.isRefresh" style="position: fixed;top: 45%;left: 0;z-index: 99999;width: 100%;height: 100vh;text-align:center;"><img src="assets/img/fbloader/fboader_20X20.gif" width="30" height="30" /></div>      
          <div class="col-xs-12 col-md-12 no-account-display" ng-if="accListModel.accounts.length == 0">{{'No accounts to display' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>