<div class="wrapper has-navbar-top">
    <div class="app-body">
        <div class="app-content">
            <div class="scrollable oppContainer ng-scope">
                <div class="scrollable-content padding-ten">
                    <div class="list-group-item no-background">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Opportunity Name' | translate}}</span>
                                <span class="required">*</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">
                                    <input class="right-aligned-input text-small" ng-model="oppAddModel.requestParams.name" ng-change="nameValidate(oppAddModel.requestParams.name)" required type="text" placeholder="{{'Enter Opportunity Name' | translate}}" style="color:grey; border:none;background: transparent;">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item no-background">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Opportunity Contact #' | translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">
                                    <input class="right-aligned-input text-small" type="text" placeholder="{{'Enter Opportunity Contact #'|translate}}" ng-model="oppAddModel.requestParams.contactNumber" ng-change="oppNumberChange(oppAddModel.requestParams.contactNumber)" style="color:grey; border:none;background: transparent;">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item no-background" style="padding: 4px 15px !important;">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding" style="line-height: 2;">
                                <span class="left-aligned-span text-small opp-text-color">{{'Opportunity Type' | translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <md-select ng-model="oppAddModel.requestParams.sTCOpportunityType" placeholder="" class="md-no-underline" style="margin-top:0px;margin-bottom:0px;color: black;">
                                    <md-option ng-repeat="(index,value) in oppAddModel.oppTypes" ng-value="value.name" ng-click="onOppTypeChange(value.name)">
                                        {{value.name | translate}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item no-background">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'ID No'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">
                                    <input class="right-aligned-input text-small" ng-model="oppAddModel.requestParams.sTCCommercialRegn" type="text" ng-change="idValidate(oppAddModel.requestParams.sTCCommercialRegn)" placeholder="{{'idNo'|translate}}" style="color:grey; border:none;background: transparent;">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="oppAddModel.showUpgradeItems">
                        <div class="list-group-item no-background" ng-show="!oppAddModel.isOffline">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{'Account Name' | translate}}</span>
                                    <span class="required">*</span>
                                </div>
                                <div class="col-xs-4 col-md-4 opp-content-padding">
                                    <span class="right-aligned-span text-small">
                                    </span>
                                    <input class="center-aligned-text" style="text-align: center;" ng-model="oppAddModel.account" readonly="true">
                                </div>
                                <div class="col-xs-2 col-md-2" ng-click="accountList()" style="outline:none;">
                                    <img src="assets/img/arrow/ic_keyboard_arrow.png"  style="height: 18px;float: right;" />
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item no-background" ng-show="oppAddModel.isOffline">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{'Account Number'|translate}}</span>
                                    <span class="required">*</span>
                                </div>
                                <div class="col-xs-6 col-md-6 opp-content-padding">
                                    <span class="right-aligned-span text-small">
                                    <input class="right-aligned-input text-small" ng-model="oppAddModel.requestParams.accountId" type="text" placeholder="{{'Account'|translate}}" style="color:grey; border:none;background: transparent;">
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item no-background" ng-show="!oppAddModel.isOffline">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{'Account Contact' | translate}}</span>
                                    <span class="required">*</span>
                                </div>
                                <div class="col-xs-6 col-md-6 opp-content-padding">
                                    <span class="right-aligned-span text-small">
                                        <md-select ng-model="oppAddModel.contactNameList.contactName" class="md-no-underline dropdown" ng-disabled="oppAddModel.contactNameList.length ===0">
                                            <md-option ng-repeat="value in oppAddModel.contactNameList" ng-value="value.contactName" ng-click="oppContactSelect(value)">
                                            {{value.contactName}}
                                            </md-option>
                                        </md-select>
                                    </span>
                                    <div ng-show="oppAddModel.isFetchingContacts" ng-class={contactautoCompleteLoader:oppAddModel.isFetchingContacts}></div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item no-background">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{'City'|translate}}</span>
                                    <span class="required">*</span>
                                </div>
                                <div class="col-xs-4 col-md-4 opp-content-padding">
                                    <span class="right-aligned-span text-small">
                                    </span>
                                    <input class="center-aligned-text" style="text-align: center;" ng-model="oppAddModel.requestParams.sTCOptyCity" readonly="true">
                                </div>
                                <div class="col-xs-2 col-md-2" ng-click="searchCity()" style="outline:none;">
                                    <img src="assets/img/arrow/ic_keyboard_arrow.png" style="height: 18px;float: right; outline : none;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-footer>
                        <md-progress-linear ng-show="oppAddModel.isLoading" md-mode="indeterminate"></md-progress-linear>
                    </md-footer>
                    <div class="row list-group-item" style="border:none;background: rgba(221, 221, 221, 0.04)!important;">
                        <div class="col-xs-6" style="padding-left:0px;" ng-click="cancelOppCreate()">
                            <md-button class="note-cancel md-raised md-primary md-button md-ink-ripple" ng-disabled="oppAddModel.isLoading">{{'Cancel' | translate}}</md-button>
                        </div>
                        <div class="col-xs-6 style=padding-left:0px;" ng-click="createOpportunity()">
                            <md-button class="auto-quote md-raised md-primary md-button md-ink-ripple" ng-disabled="oppAddModel.isLoading">{{'Save' | translate}}</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>