<div class="wrapper has-navbar-top">
    <div class="app-body">
        <div class="app-content">
            <div class="scrollable ng-scope">
                <div class="scrollable-content" style="overflow-x: hidden;">
                    <div class="list-group">
                        <div class="list-group-item oppContainer noOutline">
                            <div class="row opplist-fullitem-margin">
                                <div class="col-xs-10 col-md-10">
                                    <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Notify Events Before (in minutes)' | translate}} :</span>
                                </div>
                                <div class="col-xs-2 col-md-2">
                                    <input type="number" ng-model="settings.notifytime" ng-change="minutesChange()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item oppContainer noOutline">
                            <div class="row opplist-fullitem-margin">
                                <div class="col-xs-10 col-md-10">
                                    <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Inbox Period (in days)' | translate}} :</span>
                                </div>
                                <div class="col-xs-2 col-md-2">
                                    <input type="number" ng-model="settings.inboxPeriod" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item oppContainer" style="background-color: rgba(241, 241, 241, 0.59);">
                            <div class="row">
                                <div class="col-xs-10 col-md-10">
                                    <span class="left-aligned-span bind-text" style="font-size: 15px; outline: none;" ng-click="openDump()">{{'Dump Data for Offline' | translate}}</span>
                                </div>
                                <div class="col-xs-2 col-md-2 opp-content-padding">
                                    <span class="right-aligned-span text-small">
                                        <img src="assets/img/arrow/ic_arrow_grey_down.png" ng-if="!settings.dumpView" style="height: 18px;" ng-click="openDump()"
                                        />
                                        <img src="assets/img/arrow/ic_arrow_grey_up.png" ng-if="settings.dumpView" style="height: 18px;" ng-click="openDump()" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="settings.dumpView">
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-10 col-md-10">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'City'| translate}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
                                        <md-switch ng-model="settings.isCity" aria-label="Toggle" ng-change="cityDump()" ng-readonly="settings.dumpLoader">
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-10 col-md-10">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Activity Status'| translate}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
                                        <md-switch ng-model="settings.isStatus" aria-label="Toggle" ng-change="activtyStatusDump()" ng-readonly="settings.dumpLoader">
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-10 col-md-10">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'ProductsName' | translate}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
                                        <md-switch ng-model="settings.isProducts" aria-label="Toggle" ng-change="productsDump()" ng-readonly="settings.dumpLoader">
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Opportunity' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-1 col-md-1 no-padding" style="text-align: center;">
                                    </div>
                                    <div class="col-xs-9 col-md-9">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Lead' | translate}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
                                        <md-switch ng-model="settings.isLeadOpptys" aria-label="Toggle" ng-change="leadOpptyDump()" ng-readonly="settings.dumpLoader">
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-1 col-md-1 no-padding" style="text-align: center;">
                                    </div>
                                    <div class="col-xs-9 col-md-9">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'CustomerContact'| translate}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
                                        <md-switch ng-model="settings.isCustContctOpptys" aria-label="Toggle" ng-change="custContactDump()" ng-readonly="settings.dumpLoader">
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-1 col-md-1 no-padding" style="text-align: center;">
                                    </div>
                                    <div class="col-xs-9 col-md-9">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'CustomerVisits' | translate}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
                                        <md-switch ng-model="settings.isCustVisitOpptys" aria-label="Toggle" ng-change="custVisitDump()" ng-readonly="settings.dumpLoader">
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-1 col-md-1 no-padding" style="text-align: center;">
                                    </div>
                                    <div class="col-xs-9 col-md-9">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Proposal' | translate}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
                                        <md-switch ng-model="settings.isProposalOpptys" aria-label="Toggle" ng-change="proposalDump()" ng-readonly="settings.dumpLoader">
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-1 col-md-1 no-padding" style="text-align: center;">
                                    </div>
                                    <div class="col-xs-9 col-md-9">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Win' | translate}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
                                        <md-switch ng-model="settings.isWinOpptys" aria-label="Toggle" ng-change="winDump()" ng-readonly="settings.dumpLoader">
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-1 col-md-1 no-padding" style="text-align: center;">
                                    </div>
                                    <div class="col-xs-9 col-md-9">
                                        <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Lost' | translate}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 no-padding" style="text-align: center;">
                                        <md-switch ng-model="settings.isLostOpptys" aria-label="Toggle" ng-change="lostDump()" ng-readonly="settings.dumpLoader">
                                        </md-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item oppContainer" style="background-color: rgba(241, 241, 241, 0.59);">
                            <div class="row">
                                <div class="col-xs-10 col-md-10">
                                    <span class="left-aligned-span bind-text" style="font-size: 15px; outline: none;" ng-click="openPreferences()">{{'Preferences' | translate}}</span>
                                </div>
                                <div class="col-xs-2 col-md-2 opp-content-padding">
                                    <span class="right-aligned-span text-small">
                                        <img src="assets/img/arrow/ic_arrow_grey_down.png" ng-if="!settings.preferenceView" style="height: 18px;" ng-click="openPreferences()"
                                        />
                                        <img src="assets/img/arrow/ic_arrow_grey_up.png" ng-if="settings.preferenceView" style="height: 18px;" ng-click="openPreferences()"
                                        />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="settings.preferenceView">
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.selectAll" ng-change="selectAllPref()" aria-label="Select All"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Select All' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6"></div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.opportunities" aria-label="Opportunities"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Opportunities' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.inbox" aria-label="Inbox"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="right-aligned-span bind-text" style="font-size: 15px;">{{'Inbox' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.accounts" aria-label="Accounts"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Accounts' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.quotes" aria-label="Quotes"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="right-aligned-span bind-text" style="font-size: 15px;">{{'Quotes' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.dashboard" aria-label="Dashboard"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Dashboard' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.maps" aria-label="Maps"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="right-aligned-span bind-text" style="font-size: 15px;">{{'Maps' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.calendar" aria-label="Calendar"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="left-aligned-span bind-text" style="font-size: 15px;">{{'Calendar' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.offline" aria-label="Offline"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="right-aligned-span bind-text" style="font-size: 15px;">{{'Offline' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group" ng-if="settings.isManager">
                            <div class="list-group-item oppContainer noOutline settings-item">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="col-xs-1 col-md-1">
                                            <md-checkbox class="custom-checkbox" ng-model="settings.preferenceParams.tracker" aria-label="Calendar"></md-checkbox>
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <span class="left-aligned-span bind-text" style="font-size: 15px;overflow: visible;">{{'Location Tracker' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="settings.dumpLoader" style="position: absolute;top: 45%;left: 45%;z-index: 999;width: 100%;height: 100vh;text-align:center;">
                        <md-progress-circular md-diameter="40" md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>