<div class="wrapper has-navbar-top">
	<div class="app-body">
		<div class="app-content">
			<loading ng-show="trackerViewModel.isLoading"></loading>
			<div ng-show="!trackerViewModel.isLoading" class="scrollable">
				<div class="scrollable-content">
					<div ng-if="trackerViewModel.userMessage !== ''" class="col-xs-12 col-md-12 no-value-display" ng-if="!netWorkState">{{trackerViewModel.userMessage}}</div>
					<div ng-if="trackerViewModel.userMessage === ''" id="trackerview_canvas" style="height:100%;width:100%;"></div>
				</div>	
				<div class="slide-out-div">
					<a class="handle"></a>
					<div class="list-group" style="border: 1px solid black;box-shadow: 0px 6px 15px #888888;">
						<div class="list-group-item" style="padding:22px;">
							<div class="row col-xs-12 col-md-12" style="text-align: center;">
									<span style="font-size: 15px;font-weight: bold;">{{ 'Filter By' | translate}}</span>
							</div>
						</div>
						<div class="list-group-item" style="padding: 20px;outline:none;" ng-click="filterMarkers(partner,$index)" ng-repeat="partner in trackerViewModel.filters">
                             <div class="row col-xs-12 col-md-12">
								 <div class="col-xs-3 col-md-3">
                                    <img ng-if="partner !== 'All'" ng-src="assets/img/marker_set/{{partner}}.png "/>
								 </div>
								 <div class="col-xs-9 col-md-9">
									<span ng-class="{ mapFilterActive:trackerViewModel.filterSelectedIndex == $index }">{{partner}}</span>
								 </div>
							 </div>
						</div>
					</div>
				</div>  
			</div>
		</div>	
	</div>
</div>	
