<md-bottom-sheet style="top: 30vh !important;padding: 0;">
    <div style="text-align: center;border-bottom: 1px rgba(128, 128, 128, 0.31) solid;position: absolute;width: 100%;height: 8vh;padding: 10px;">
        <div class="col-xs-9 col-md-9">
            <span style="font-size: 16px;">{{id}}</span>
        </div>
        <div class="col-xs-3 col-md-3" ng-click="closeInMapChatWindow()">
            <span style="font-size: 13px;">Close</span>
        </div>
    </div>
    <chat-handler style="overflow: auto !important;"></chat-handler>
</md-bottom-sheet>