<md-dialog>
    <div style="padding: 23px;text-align: right;border-bottom: 1px solid #ddd;">
        <md-progress-circular style="left: 20px;top: 20px;position: absolute;" md-diameter="30" md-mode="indeterminate"></md-progress-circular>
        <span style="font-size: 17px;">{{'Syncing in Progress....' | translate}}</span>
    </div>
    <span style="font-size: 15px;padding: 24px;">{{ctrl.parent.reviewModel.updateOppsMessage}}</span>
    <md-button class="md-accent md-raised login-btn no-margin no-padding" ng-click="ctrl.parent.dismissOppSyncPopup()" style="background: none;color: deeppink;">{{ 'Dismiss' | translate}}</md-button>
</md-dialog>