<div class="scrollable-content fullheightDetail" style="background-color: none !important;overflow-x: hidden;">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="opp-highlighed-text ">{{detailModel.details.sTCLeadNumber}}</span>
                    <br>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Name'|translate}}</span>
                    <span class="required">*</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <input class="right-aligned-text" ng-model="detailModel.details.name" ng-change="nameValidate(detailModel.details.name)" ng-readonly="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Campaign'|translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <input class="right-aligned-text"  ng-model="detailModel.details.sTCLeadCampaignName" ng-readonly="true">
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Prospect Customer Name' | translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <input class="right-aligned-text" ng-model="detailModel.details.sTCBulkLeadContactFirstName" ng-change="custnameValidate(detailModel.details.sTCBulkLeadContactFirstName)" ng-readonly="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Type'|translate}}</span>
                    <span class="required">*</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <md-select ng-model="detailModel.oppTypeList.sTCOpportunityType" placeholder="" class="md-no-underline dropdown" ng-show="detailModel.noProductsAdded" ng-disabled="!detailModel.noProductsAdded||detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                        <md-option ng-repeat="(index,value) in detailModel.oppTypeList" ng-value="value.name" ng-click="oppTypeChange(value.name)"
                            ng-selected="index == currentOppTypeIndex">
                            {{value.name |translate}}
                        </md-option>
                    </md-select>
                    <span class="right-aligned-span text-small" ng-show="!detailModel.noProductsAdded" >
                        <input class="right-aligned-text readOnlyText" ng-model="detailModel.oppTypeList.sTCOpportunityType | translate" ng-readonly="true">
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-5 col-md-5 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Assigned' | translate}}</span>
                    <span class="required">*</span>
                </div>
                <div class="col-xs-5 col-md-5 opp-content-padding">
                    <span class="right-aligned-span text-small">
                    </span>
                    <input class="center-aligned-text" style="text-align: center;" ng-class="{'readOnlyText':!detailModel.isAssigneeEditable}" ng-model="detailModel.activeLoginName" disabled="true">
                </div>
                <div ng-if="detailModel.enableEdit" class="col-xs-2 col-md-2">
                    <img ng-if="detailModel.isFetchingAssignedTo" src="assets/img/extracting.gif" style="height: 18px;float: right;" />
                    <img ng-if="!detailModel.isFetchingAssignedTo" src="assets/img/arrow/ic_keyboard_arrow.png" ng-click="!detailModel.isAssigneeEditable||detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||detailModel.isOffline||assignedToList()"
                        style="height: 18px;float: right; outline:none;" />
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Status'|translate}}</span>
                    <span class="required">*</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <md-select ng-model="detailModel.statusList.salesStage" placeholder="" class="md-no-underline dropdown" ng-disabled="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                        <md-option ng-repeat="(index,value) in detailModel.statusList" ng-value="value.name" ng-click="oppStatusChange(value.name)"
                            ng-selected="index == currentStatusIndex">
                            {{value.name |translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Sub Status'|translate}}</span>
                    <span class="required">*</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <md-select ng-model="detailModel.subStatusList.sTCSubStatusSME" placeholder="" class="md-no-underline dropdown" ng-disabled="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                        <md-option ng-repeat="(index,value) in detailModel.subStatusList" ng-value="value.name" ng-click="oppSubStatusChange(value.name)"
                            ng-selected="index == currentSubStatusIndex">
                            {{value.name |translate}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'ID No'|translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <input class="right-aligned-text" ng-model="detailModel.details.sTCCommercialRegn" ng-readonly="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item no-rowborder">
            <div class="row">
                <div class="col-xs-10 col-md-10 opp-content-padding">
                    <span class="opp-highlighed-text left-aligned-span">{{'Customer Details' |translate}}</span>
                </div>
                <div class="col-xs-2 col-md-2 opp-content-padding">
                    <div class="map-icon-container">
                        <img src="assets/img/map_icon/map@2x.png" style="outline:none;" width="auto" height="auto" ng-click="loadMap()">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Contact Name' | translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <input class="right-aligned-text readOnlyText" ng-model="detailModel.details.sTCLeadContactFirstName" readonly="true">
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item" ng-show="!detailModel.isOffline">
            <div class="row">
                <div class="col-xs-5 col-md-5 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Account Name' | translate}}</span>
                    <span class="required" ng-show="detailModel.oppTypeList.sTCOpportunityType=='Upgrade'">*</span>
                </div>
                <div class="col-xs-5 col-md-5 opp-content-padding">
                    <span class="right-aligned-span text-small">
                    </span>
                    <input class="center-aligned-text" style="text-align: center;-webkit-opacity:1;" ng-model="detailModel.details.account" disabled="true">
                </div>
                <div ng-if="detailModel.enableEdit" class="col-xs-2 col-md-2" style="outline:none;" ng-click="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')|| accountList()">
                    <img src="assets/img/arrow/ic_keyboard_arrow.png" style="height: 18px;float: right; outline:none;" />
                </div>
            </div>
        </div>
        <div class="list-group-item" ng-show="detailModel.isOffline">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Account Number' | translate}}</span>
                    <span class="required" ng-show="detailModel.oppTypeList.sTCOpportunityType=='Upgrade'">*</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <input class="right-aligned-text" ng-model="detailModel.details.accountNumber" ng-change="accountNumberValidate(detailModel.details.accountNumber)">
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item" ng-show="!detailModel.isOffline">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Account Contact'|translate}}</span>
                    <span class="required" ng-show="detailModel.oppTypeList.sTCOpportunityType=='Upgrade'">*</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <span class="right-aligned-span text-small">
                            <md-select ng-model="detailModel.contactNameList.contactName" class="md-no-underline dropdown" ng-disabled="detailModel.contactNameList.length ===0 || !detailModel.enableEdit" ng-hide="detailModel.isFetchingContacts">
                                <md-option ng-repeat="(index,value) in detailModel.contactNameList" ng-value="value.contactName" ng-click="oppContactSelect(value)">
                                {{value.contactName}}
                                </md-option>
                            </md-select>
                        </span>
                        <img ng-if="detailModel.isFetchingContacts" src="assets/img/extracting.gif" style="height: 18px;float: right;" />
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-5 col-md-5 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Contact' | translate}}</span>
                    <img ng-click="openDialer()" style="width: 43px;padding-left: 24px;outline: none;" src="assets/img/call.svg">
                </div>
                <div class="col-xs-7 col-md-7 opp-content-padding">
                    <div class="col-xs-9 col-md-9 no-padding no-margin">
                        <input class="center-aligned-text" ng-model="detailModel.details.sTCBulkLeadContactNumber" ng-show="detailModel.details.sTCFeedback === 'Authorized person'||((detailModel.details.sTCFeedback === null||detailModel.details.sTCFeedback ==='') && detailModel.details.sTCFeedback2 !== 'Authorized person' && detailModel.details.sTCFeedback3 !== 'Authorized person')"
                            maxlength="18" ng-change="oppNumberChange(detailModel.details.sTCBulkLeadContactNumber)" ng-readonly="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                        <input class="center-aligned-text" ng-model="detailModel.details.sTCContactNumber2" ng-show="detailModel.details.sTCFeedback2 === 'Authorized person'"
                            maxlength="18" ng-change="oppNumberChange(detailModel.details.sTCContactNumber2)" ng-readonly="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                        <input class="center-aligned-text" ng-model="detailModel.details.sTCContactNumber3" ng-show="detailModel.details.sTCFeedback3 === 'Authorized person'"
                            maxlength="18" ng-change="oppNumberChange(detailModel.details.sTCContactNumber3)" ng-readonly="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                    </div>
                    <div ng-if="detailModel.enableEdit" class="col-xs-3 col-md-3 no-padding no-margi right-aligned-text">
                        <img src="assets/img/extracting.gif" ng-show="detailModel.ocrLoading">
                        <img src="assets/img/ocr/ocr_camera.png" class="ocr" ng-click="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')|| getPhoto()"
                            ng-show="!detailModel.ocrLoading" ng-disabled="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||detailModel.isOffline">
                    </div>
                </div>
            </div>
        </div>
        <canvas id="canvascard" style="max-width: 100%; display:none;"></canvas>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Preferred time to contact'|translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <md-select ng-model="detailModel.preferredTimeList.sTCBestTimeToCall" placeholder="" class="md-no-underline dropdown" ng-disabled="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                            <md-option ng-repeat="(index,value) in detailModel.preferredTimeList" ng-value="value.name" ng-click="oppPreferredTimeChange(value.index)" ng-selected="index == currentPreferredTimeIndex">
                            {{value.name |translate}}
                            </md-option>
                        </md-select>
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Comments'|translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <input class="right-aligned-text" ng-model="detailModel.details.description" ng-change="commentsValidate(detailModel.details.description)" ng-readonly="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')||!detailModel.enableEdit">
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'City'|translate}}</span>
                    <span class="required" ng-show="detailModel.oppTypeList.sTCOpportunityType=='Upgrade'">*</span>
                </div>
                <div class="col-xs-4 col-md-4 opp-content-padding">
                    <span class="right-aligned-span text-small">
                    </span>
                    <input class="center-aligned-text" style="text-align: center;" ng-model="detailModel.details.sTCOptyCity" readonly="true">
                </div>
                <div ng-if="detailModel.enableEdit" class="col-xs-2 col-md-2" style="outline:none;" ng-click="detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')|| searchCity()">
                    <img src="assets/img/arrow/ic_keyboard_arrow.png" style="height: 18px;float: right; outline:none;" />
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Revenue'|translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <input class="right-aligned-text readOnlyText" ng-model="detailModel.details.PrimaryRevenueAmount" ng-readonly="true">
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Created By' | translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <input class="right-aligned-text readOnlyText" ng-model="detailModel.details.sTCCreatedByLogin" ng-readonly="true">
                    </span>
                </div>
            </div>
        </div>
        <md-progress-linear ng-show="detailModel.showDetailsAddLoader" md-mode="indeterminate"></md-progress-linear>
        <div ng-if="detailModel.enableEdit" class="list-group-item note-buttons">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="">
                        <md-button class="md-accent md-raised note-cancel no-margin no-padding" ng-click="discardOppChanges()" ng-disabled="detailModel.showDetailsAddLoader">{{'Cancel'|translate}}</md-button>
                    </span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="">
                        <md-button class="md-accent md-raised auto-quote no-margin no-padding" ng-click="updateOppData($event,detailModel.details,detailModel)" ng-disabled="detailModel.showDetailsAddLoader||detailModel.details.salesStage.includes('Win')||detailModel.details.salesStage.includes('Lost')">{{'Save'|translate}}</md-button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="detailModel.showAssignedToList" class="custome-popup-detailtab" aria-hidden="false" class="">
        <div class="custome-popup-detailtab-div">
            <div class="col-xs-12" style="text-align:right;padding-top: 7px;">
                <span ng-click="closeAssigneeListTab()">{{'Close' | translate}}</span>
            </div>
            <div class="col-xs-12 custom-popup-searchbox">
                <input class="custom-popup-search-input-account" ng-model="assignToQuery" ng-change="assignedToValidate(assignToQuery)" placeholder="{{'Search for Assignee' | translate}}"/>
                <img src="assets/img/search_lens/search_32X32.png" ng-click="assigneeSearch(assignToQuery)" style="border: 1px solid rgb(221, 221, 221);height: 35px;border-radius: 5px;margin-left: 5px;outline: none;" />
            </div>
            <div class="col-xs-12 col-md-12 scrollable-content" style="height: 72%;">
                <ul class="list-inline" style="text-align: left;" ng-repeat="assign in detailModel.assignedTo |filter:assignToQuery">
                    <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px;" ng-click="updateAssignedPosition(assign)">
                        {{assign.activeLoginName}} - {{assign.name}}
                    </li>
                </ul>
            </div>
            <div ng-show="!detailModel.lastAssigneeReached" ng-click="fetchAssignByPart(detailModel.assignQuery,detailModel.assignStartRow)"
                class="col-xs-12 col-md-12" style="height: 6%; outline: none;">
                <span ng-show="!detailModel.lastAssigneeReached" style="line-height: 4;">{{'Load More' | translate}}</span>
            </div>
            <md-progress-circular ng-show="detailModel.loadingMoreAssigns" md-diameter="30" style="left: 45%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
    <div ng-show="detailModel.showAccountList" class="custome-popup-detailtab" aria-hidden="false" class="">
        <div class="custome-popup-detailtab-div">
            <div class="col-xs-12" style="text-align:right;padding-top: 7px;">
                <span ng-click="closeAccountListTab()">{{'Close' | translate}}</span>
            </div>
            <div class="col-xs-12 custom-popup-searchbox">
                <input class="custom-popup-search-input-account" ng-model="accountText" ng-change="accountSearchValidate(accountText)" placeholder="{{'Search for Account' | translate}}"/>
                <img src="assets/img/search_lens/search_32X32.png" ng-click="getAccountNames(accountText)" style="border: 1px solid rgb(221, 221, 221);height: 35px;border-radius: 5px;margin-left: 5px;outline: none;" />
            </div>
            <div class="col-xs-12 col-md-12 scrollable-content" style="height: 72%;">
                <ul class="list-inline" style="text-align: left;" ng-repeat="account in detailModel.accountNames">
                    <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px;" ng-click="getContactName(account.id,account.name,account.contacts)">
                        {{account.name}}
                    </li>
                </ul>
            </div>
            <div ng-show="!detailModel.lastAccountReached" ng-click="fetchAccountPart(detailModel.accountQuery,detailModel.accountStartRow,'loadMore')"
                class="col-xs-12 col-md-12" style="height: 6%; outline: none;">
                <span ng-show="!detailModel.lastAccountReached" style="line-height: 4;">{{'Load More' | translate}}</span>
            </div>
            <md-progress-circular ng-show="detailModel.loadingAccounts" md-diameter="30" style="left: 45%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>