<div class="wrapper has-navbar-top">
    <div class="app-body">
        <div class="app-content">
            <loading ng-if="reviewModel.isLoading"></loading>
            <div ng-if="!reviewModel.isLoading" class="scrollable quoteContainer ng-scope" ui-shared-state="searchBar">
                 <md-tabs md-selected="reviewselectedIndex">
                    <md-tab>
                        <md-tab-label>{{'New'| translate}}
                            <span class="reviewCount" ng-if="reviewModel.syncCount.new > 0">{{reviewModel.syncCount.new}}</span>
                        </md-tab-label>
                        <md-tab-body>
                           <div class="list-group" ng-if="reviewModel.offlineList.length > 1 && reviewModel.isOnline">
                                <div class="list-group-item oppContainer noOutline settings-item">
                                    <div class="row">
                                        <div class="col-xs-1 col-md-1 no-padding" style="text-align: center;">
                                        </div>
                                        <div class="col-xs-10 col-md-10 no-padding" style="text-align: center;">
                                            <md-button class="md-accent md-raised auto-quote no-margin no-padding" ng-disabled="reviewModel.bulkPostSelected" ng-click="bulkupload(this)">{{'BULK POST'| translate}}</md-button>
                                        </div>
                                        <div class="col-xs-1 col-md-11 no-padding" style="text-align: center;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scrollable-content quote-background" ng-class="{'reviewListTop':reviewModel.offlineList.length <= 1}" style="overflow-x: hidden;">
                                <div class="list-group">
                                    <div class="col-xs-12 col-md-12 no-value-display" ng-if="!reviewModel.offlineList.length">{{'No opportunities to display' | translate}}</div>
                                    <div ng-if="reviewModel.offlineList.length" ng-class="{'erroredOutPost':opp.postStatus !== ''}" class="list-group-item noOutline"
                                        style="padding: 10px 15px 0px 15px !important;margin-bottom: 7px;border-top: 1px solid #ddd;" ng-repeat="opp in reviewModel.offlineList">
                                        <div class="row opplist-fullitem-margin" style="margin-right: -7px !important;" >
                                            <div class="col-xs-4 col-md-4 opplist-item1-padding">
                                                <div class="row" style="padding: 3px;">
                                                    <span class="text-smallest left-aligned-span bind-text" style="font-weight: bolder;">{{'List OP Type'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="text-smallest left-aligned-span bind-text">{{opp.type| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="text-smallest left-aligned-span bind-text" style="font-weight: bolder;">{{'Contact'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="text-smallest left-aligned-span bind-text">{{opp.detail.payload.listOfstcOpportunity.opportunity[0].stcBulkLeadContactNumber}}</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                                <div class="row bind-text" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left opp-highlighed-text bind-text">{{opp.detail.payload.listOfstcOpportunity.opportunity[0].name}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest" style="font-weight: bolder;">{{'Account'| translate}}</span>
                                                    <span ng-if="opp.detail.payload.listOfstcOpportunity.opportunity[0].accountId !==''" class="left-aligned-span align-left bind-text text-smallest">{{opp.detail.payload.listOfstcOpportunity.opportunity[0].accountNumber}}</span>
                                                    <span ng-if="opp.detail.payload.listOfstcOpportunity.opportunity[0].accountId ===''" class="left-aligned-span align-left bind-text text-smallest">-</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest" style="font-weight: bolder;">{{'Created By'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest">{{opp.detail.payload.listOfstcOpportunity.opportunity[0].stcBulkLeadCreatedBy}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest" style="font-weight: bolder;">{{'Commercial Reg No'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span ng-if="opp.detail.payload.listOfstcOpportunity.opportunity[0].stcCommercialRegn ===''" class="left-aligned-span align-left bind-text text-smallest">-</span>
                                                    <span ng-if="opp.detail.payload.listOfstcOpportunity.opportunity[0].stcCommercialRegn !==''" class="left-aligned-span align-left bind-text text-smallest">{{opp.detail.payload.listOfstcOpportunity.opportunity[0].stcCommercialRegn}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest" style="font-weight: bolder;">{{'City'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span ng-if="opp.detail.payload.listOfstcOpportunity.opportunity[0].stcOptyCity !==''" class="left-aligned-span align-left bind-text text-smallest">{{opp.detail.payload.listOfstcOpportunity.opportunity[0].stcOptyCity| translate}}</span>
                                                    <span ng-if="opp.detail.payload.listOfstcOpportunity.opportunity[0].stcOptyCity ===''" class="left-aligned-span align-left bind-text text-smallest">-</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="border-top: 1px solid #ddd;line-height: 40px;">
                                            <div class="col-xs-3 col-md-3 opplist-item2-padding" style="text-align: center;border-right: 1px solid #ddd;outline: none;"
                                                ng-click="postOpportunity(this,opp.id,opp.detail,$index,opp.type)">
                                                <img style="margin: 3px;width: 25px;" src="assets/img/review/sync.svg">
                                            </div>
                                            <div class="col-xs-3 col-md-3 opplist-item2-padding" style="text-align: center;border-right: 1px solid #ddd;outline: none;"
                                                ng-click="infoOpportunity(opp.postStatus)">
                                                <img style="width: 25px;margin: 5px;" src="assets/img/infoicon.png">
                                            </div>
                                            <div class="col-xs-3 col-md-3 opplist-item2-padding" style="text-align: center;border-right: 1px solid #ddd;outline: none;"
                                                ng-click="deleteOpportunity(this,opp.id,opp.detail,$index)">
                                                <img style="width: 25px;margin: 5px;" src="assets/img/review/delete.svg">
                                            </div>
                                            <div class="col-xs-3 col-md-3 opplist-item2-padding" style="text-align: center;outline: none;" ng-click="gotoDetails(this,opp.id,opp.detail,$index,opp.type,opp.recordStatus)">
                                                <img style="width: 25px;margin: 5px;" src="assets/img/pen_edit/pen_32X32.png">
                                            </div>
                                        </div>
                                        <md-progress-linear ng-show="opp.posting" md-mode="indeterminate" style="width: 130%;left: -15px;"></md-progress-linear>
                                    </div>
                                </div>
                            </div> 
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>{{'Update'| translate}}
                            <span class="reviewCount" ng-if="reviewModel.syncCount.update > 0">{{reviewModel.syncCount.update}}</span>
                        </md-tab-label>
                        <md-tab-body>
                            <div class="list-group" ng-if="reviewModel.updateOppList.oppData.length>1 && reviewModel.isOnline">
                                <div class="list-group-item oppContainer noOutline settings-item">
                                    <div class="row">
                                        <div class="col-xs-1 col-md-1 no-padding" style="text-align: center;">
                                        </div>
                                        <div class="col-xs-10 col-md-10 no-padding" style="text-align: center;">
                                            <md-button ng-disabled="reviewModel.bulkPostSelected" class="md-accent md-raised auto-quote no-margin no-padding" ng-click="bulkuploadUpdatedOpps(0)">{{'BULK POST'| translate}}</md-button>
                                        </div>
                                        <div class="col-xs-1 col-md-11 no-padding" style="text-align: center;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="scrollable-content quote-background" style="overflow-x: hidden;" ng-class="{'reviewListTop':reviewModel.updateOppList.oppData.length <= 1}">
                                <div class="list-group">
                                    <div class="col-xs-12 col-md-12 no-value-display" ng-if="!reviewModel.updateOppList.oppData.length">{{'No opportunities to display' | translate}}</div>
                                    <div ng-if="reviewModel.updateOppList.oppData.length" class="list-group-item noOutline" ng-class="{'erroredOutPost':!reviewModel.updateOppList.message[$index].isPosted && reviewModel.updateOppList.message[$index].errorMsg!==''}"
                                        style="padding: 10px 15px 0px 15px !important;margin-bottom: 7px;border-top: 1px solid #ddd;" ng-repeat="opp in reviewModel.updateOppList.oppData">
                                        <div class="row opplist-fullitem-margin" style="margin-right: -7px !important;">
                                            <div class="col-xs-4 col-md-4 opplist-item1-padding">
                                                <div class="row" style="padding: 3px;">
                                                    <span class="text-smallest left-aligned-span bind-text" style="font-weight: bolder;">{{'List OP Type'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="text-smallest left-aligned-span bind-text">{{opp.sTCOpportunityType| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="text-smallest left-aligned-span bind-text" style="font-weight: bolder;">{{'Contact'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="text-smallest left-aligned-span bind-text">{{opp.sTCBulkLeadContactNumber}}</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                                <div class="row bind-text" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left opp-highlighed-text bind-text">{{opp.name}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest" style="font-weight: bolder;">{{'Account'| translate}}</span>
                                                    <span ng-if="opp.accountId !==''" class="left-aligned-span align-left bind-text text-smallest">{{opp.accountId}}</span>
                                                    <span ng-if="opp.accountId ===''" class="left-aligned-span align-left bind-text text-smallest">-</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest" style="font-weight: bolder;">{{'Created By'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest">{{opp.sTCBulkLeadCreatedBy}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest" style="font-weight: bolder;">{{'Commercial Reg No'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span ng-if="opp.sTCCommercialRegn ===''" class="left-aligned-span align-left bind-text text-smallest">-</span>
                                                    <span ng-if="opp.sTCCommercialRegn !==''" class="left-aligned-span align-left bind-text text-smallest">{{opp.sTCCommercialRegn}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span class="left-aligned-span align-left bind-text text-smallest" style="font-weight: bolder;">{{'City'| translate}}</span>
                                                </div>
                                                <div class="row" style="padding: 3px;">
                                                    <span ng-if="opp.sTCOptyCity !==''" class="left-aligned-span align-left bind-text text-smallest">{{opp.sTCOptyCity| translate}}</span>
                                                    <span ng-if="opp.sTCOptyCity ===''" class="left-aligned-span align-left bind-text text-smallest">-</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="reviewModel.updateOppList.message[$index].isPosted ==='' || !reviewModel.updateOppList.message[$index].isPosted" class="row" style="border-top: 1px solid #ddd;line-height: 40px;">
                                            <div class="col-xs-3 col-md-3 opplist-item2-padding" style="text-align: center;border-right: 1px solid #ddd;outline: none;"
                                                ng-click="postIndividualPayloads(opp.rowId,$index,'single')">
                                                <img style="margin: 3px;width: 25px;" src="assets/img/review/sync.svg">
                                            </div>
                                            <div class="col-xs-3 col-md-3 opplist-item2-padding" style="text-align: center;border-right: 1px solid #ddd;outline: none;" 
                                                ng-click="showUpdateOppInfo($index)">
                                                <img style="width: 25px;margin: 5px;" src="assets/img/infoicon.png">
                                            </div>
                                            <div class="col-xs-3 col-md-3 opplist-item2-padding" style="text-align: center;border-right: 1px solid #ddd;outline: none;"
                                                ng-click="deleteUpdatedOpportunity(opp.rowId,$index)">
                                                <img style="width: 25px;margin: 5px;" src="assets/img/review/delete.svg">
                                            </div>
                                            <div class="col-xs-3 col-md-3 opplist-item2-padding" style="text-align: center;outline: none;" ng-click="gotoDetails(this,opp.sTCLeadNumber,opp,$index,'','update')">
                                                <img style="width: 25px;margin: 5px;" src="assets/img/pen_edit/pen_32X32.png">
                                            </div>
                                        </div>
                                        <div ng-if="reviewModel.updateOppList.message[$index].isPosted && reviewModel.updateOppList.message[$index].errorMsg===''" class="row" style="border-top: 1px solid #ddd;line-height: 40px;text-align: center;background: green;">
                                            <span style="font-weight: bold;font-size: 14px;color: white;">POSTED SUCCESSFULLY</span>
                                        </div>
                                        <md-progress-linear ng-if="postingIndex == $index && postingIndex!==''" style="width: 130%;left: -15px;" md-mode="indeterminate"></md-progress-linear>
                                    </div>
                                </div>
                            </div> 
                        </md-tab-body>
                    </md-tab>
                 </md-tabs>           
            </div>
        </div>
    </div>
</div>