<div class="scrollable-content greyBackground fullheightDetail"  style="background-color: none !important;overflow-x: hidden;">
<div class="list-group">
    <div class="list-group-item list-groupitem-reduced greyBackground">
        <div class="row">
            <div class="col-xs-12 col-md-12 no-value-display" ng-if="attachments.isNetWorkAvailable && attachments.attachmentsList.length == 0">{{'No Attachments to Display'|translate}}</div>
            <div class="col-xs-12 col-md-12 no-value-display" ng-if="!attachments.isNetWorkAvailable">Attachments View is not Available in Offline Mode</div>
            <div class="col-xs-12 col-md-12 no-padding attchment-tiles-margin">
                <div class="col-xs-6 col-md-6 text-center no-padding" ng-if="attachments.isNetWorkAvailable" ng-repeat="attachment in attachments.attachmentsList">
                    <md-card>
                        <md-card-content>
                            <!--
                            <div class="row attchment-text-container">
                                <span class="attchment-heading">{{attachment.title}}</span>
                            </div>
                            -->
                            <div class="row attchment-text-container" ng-click="viewAttachment(attachment.opptyFileName,attachment.opptyFileExt)">
                                <div class="attachmentImage">
                                    <img src="assets/img/attachment/attachment.png" />
                                </div>
                            </div>
                            <div class="row attchment-text-container">
                                <div class="col-xs-6 col-md-6 no-padding text-left">
                                    <span class="attchment-content-color">{{attachment.opptyFileName | limitTo:10}}.{{attachment.opptyFileExt}}</span>
                                </div>
                                <div ng-if="attachments.enableEdit" class="col-xs-3 col-md-3 no-padding text-center" style="outline: none;" ng-click="saveAttachment($index,attachment.id,attachment.opptyFileName,attachment.opptyFileExt,attachment.opptyFileExt)">
                                    <img src="assets/img/download/download.png" />
                                </div>
                                <div class="col-xs-3 col-md-3 no-padding text-right" ng-if="attachments.enableEdit">
                                    <img src="assets/img/delete/delete.png" style="padding-right: 8px;outline: none;" ng-click="attachments.salesStage.includes('Win')||attachments.salesStage.includes('Lost')||doDeleteAtachment($index,attachment.id)"
                                        ng-disabled="attachments.salesStage.includes('Win')||attachments.salesStage.includes('Lost')"/>
                                </div>
                            </div>
                            <div class="row attchment-text-container">
                                <div class="col-xs-5 col-md-5 no-padding text-left">
                                    <span class="attchment-content-color">{{'Comments' | translate}} :</span>
                                </div>
                                <div class="col-xs-7 col-md-7 no-padding text-left">
                                    <span class="bind-text attchment-content-color">{{attachment.comments | limitTo:15}}<span ng-show="attachment.comments.length >15">...</span></span>
                                </div>
                            </div>
                        </md-card-content>
                        <md-card-footer>
                            <div class="row attchment-text-container">
                                <span class="attchment-footer">{{attachment.opptyFileDate}}</span>
                            </div>
                            <md-progress-linear ng-if="attachment.showAttachmentDownload" md-mode="indeterminate"></md-progress-linear>
                        </md-card-footer>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<md-fab-speed-dial ng-if="attachments.enableEdit && attachments.isNetWorkAvailable" md-direction="up" class="md-scale md-fab-bottom-right md-hover-full speed-dial">
    <md-fab-trigger>
        <md-button aria-label="Add" class="md-fab md-warn add-attachment">
            <md-icon style="background-image:url('assets/img/header/add/add.png');margin: 18px 12px;" md-svg-src=""></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ng-click="openAttachmentCam()" aria-label="Capture Image" class="md-fab md-raised md-mini add-attachment" ng-disabled="attachments.salesStage.includes('Win')||attachments.salesStage.includes('Lost')">
            <md-icon style="background-image:url('assets/img/camera/camera.png')!important;margin: 10px 3px;" md-svg-src=""></md-icon>
        </md-button>
        <md-button ng-click="getDeviceAttachments()" aria-label="Upload Image" class="md-fab md-raised md-mini add-attachment" ng-disabled="attachments.salesStage.includes('Win')||attachments.salesStage.includes('Lost')">
            <md-icon style="background-image:url('assets/img/upload/upload.png')!important;margin: 10px 4px;" md-svg-src=""></md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
 <div ng-show="attachments.showuploadAttachments" style="position: fixed;top: 0%;left: 0px;z-index: 99999;width: 100%;height: 100vh;text-align: center;background-color: #a53232;background-color:white" aria-hidden="false" class="">
    <div ng-show="attachments.showAttachmentLoader" class="col-xs-12 col-md-12" style="text-align: center;padding-top: 50%;">
        <md-progress-circular md-diameter="30" style="left: 45%;" md-mode="indeterminate"></md-progress-circular><br>
        <span style="color:black;">Fetching Attachment...Please wait</span>
    </div>
    <div ng-show="!attachments.showAttachmentLoader" class="col-xs-12 col-md-12" style="text-align:center;padding-top: 10px;">
        <img ng-show="attachments.isImageAttachment" style="height: 51vh;" id="img" src="" />
        <div ng-show="!attachments.isImageAttachment" style="height: 51vh;border: 1px solid #ddd;border-radius: 10px;">
            <img src="assets/img/attachment/attachmentDoc.svg" style="padding:32px 2px 119px 22px;">
            <span style="color: black;font-size: 23px;text-transform: capitalize;">.{{attachments.fileExtension}}</span>
        </div>
        <md-progress-linear ng-show="attachments.isUploadingAttachment" md-mode="indeterminate"></md-progress-linear>
    </div>
    <div ng-show="!attachments.showAttachmentLoader" class="col-xs-12 col-md-12" style="padding-bottom:0px;padding-top: 13px;text-align:center;">
        <div class="col-xs-7 col-md-7">
            <input ng-model="attachments.filename" maxlength="15" placeholder="{{'fileName' | translate}}" ng-change="nameValidate(attachments.filename)">
        </div>
        <div class="col-xs-5 col-md-5">
            <span ng-disabled="true">{{'File Type' | translate}}: .{{attachments.fileExtension}}</span>
        </div>
        <div class="col-xs-12 col-md-12" style="padding:13px">
            <textarea style="width:100%;" ng-model="attachments.attchmentComments" placeholder="{{'Comments'|translate}}" ng-change="commentsValidate(attachments.attchmentComments)"></textarea>
        </div>
    </div>
    <div ng-show="!attachments.showAttachmentLoader" class="col-xs-12 col-md-12">
        <md-button class="md-accent md-raised auto-quote no-margin no-padding" ng-disabled="attachments.isUploadingAttachment"
            ng-click="uploadAttachments()">{{attachments.attchmentUploadBtnText | translate}}</md-button>
    </div>
    <div ng-show="!attachments.showAttachmentLoader" class="col-xs-12 col-md-12" style="padding-top: 5px;">
        <md-button class="md-accent md-raised note-cancel no-margin no-padding" ng-disabled="attachments.isUploadingAttachment"
            ng-click="closeAttachmentScreen()">{{'Cancel'|translate}}</md-button>
    </div>
</div>