<div class="wrapper has-navbar-top">
    <div class="app-body">
        <div class="app-content">
        <div ng-show="dashboardModel.loading" class="app-content-loading">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        
            <loading ng-show="dashboardListModel.isLoading"></loading>
            <div ng-show="!dashboardListModel.isLoading" class="scrollable  ng-scope" ui-shared-state="searchBar">
                <div class="row" ng-if="dashboardListModel.search" style="height: 50px;background:white;padding-left:10px;"> 
                    <div class="col-xs-10 col-md-10" style="height:50px">     
                        <input ng-if="dashboardListModel.search" ng-model="dashboardListModel.searchText" ng-change="searchFilter()" type="search" class=" form-control scrollable-header needsclick ng-scope" placeholder="{{'Search' | translate}}" style="box-sizing: border-box;height: 50px;background:transparent;    border-bottom: 2px solid white;">
                    </div> 
                    <div class="col-xs-2 col-md-2 input-search" ng-click="searchOppty(dashboardListModel.searchText)" style="height: 50px;outline: none;"></div>  
                </div>
<!--
            <div class="search-bar" ng-if="dashboardListVM.search">
            <input ng-if="dashboardListVM.search" ng-model="dashboardListVM.searchText" ng-change="dashboardListVM.searchFilter()" type="search" class="form-control scrollable-header needsclick ng-scope" placeholder="{{'Search' | translate}}" style="-webkit-box-sizing: border-box;height: 100%;width:100%;">
            <div class="search-account app-header-search" ng-click="dashboardListVM.searchOppty(dashboardListVM.searchText)" ng-if="dashboardListVM.search">
                 <img src="resources/images/search.svg" width="25" height="25" />
            </div>
	        </div>
-->
                <div class="scrollable-content" app-scroll on-list-scrolled="loadMoreOpportunities()">

                    <!------------------------------------------------------------------------------------------------------------------>
                    <div class="list-group-item oppContainer noOutline" ng-repeat="opp in dashboardListModel.opportunities | filter:searchFilter"  ng-click="gotoDashboardListDetails(opp.sTCLeadNumber,opp)">


                        <div class="row opplist-fullitem-margin">
                            <div class="col-xs-4 col-md-4 opplist-item1-padding">
                                <div class="row oppstatus-margin">
                                    <div class="left-aligned-span" ng-class="{'opp-status red':{{opp.colorCode =='red'}} ,'opp-status blue':{{opp.colorCode =='blue'}},'opp-status green':{{opp.colorCode =='green'}},'opp-status yellow':{{opp.colorCode =='yellow'}},'opp-status orange':{{opp.colorCode =='orange'}}}"></div>
                                </div>
                                <div class="row">
                                    <span class="text-smaller left-aligned-span opp-text-color">{{'Contact' | translate}}</span>
                                </div>
                                <div class="row" ng-class="{'fixed-height':(opp.sTCFeedback !== 'Authorized person' && opp.sTCFeedback2 !== 'Authorized person' && opp.sTCFeedback3 !== 'Authorized person')}">
                                    <div ng-click="openDialer(opp.sTCBulkLeadContactNumber,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 50%!important;" ng-show="opp.sTCFeedback ==='Authorized person'">{{opp.sTCBulkLeadContactNumber}}</div>
                                    <div ng-click="openDialer(opp.sTCContactNumber2,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback2 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback3 !=='Authorized person'">{{opp.sTCContactNumber2}}</div>
                                    <div ng-click="openDialer(opp.sTCContactNumber3,$event)" class="text-small left-aligned-span text-clip-small bind-text" style="width: 85%!important;" ng-show="opp.sTCFeedback3 ==='Authorized person' && opp.sTCFeedback !=='Authorized person' && opp.sTCFeedback2 !=='Authorized person'">{{opp.sTCContactNumber3}}</div>
                                </div>
                                <div class="row">
                                    <span class="text-smaller left-aligned-span opp-text-color">{{'Revenue' | translate}}</span>
                                </div>
                                <div class="row" ng-class="{'fixed-height':opp.PrimaryRevenueAmount === null}">
                                    <span class="text-small left-aligned-span bind-text">{{opp.PrimaryRevenueAmount}}</span>
                                </div>
                                <div class="row">
                                    <span class="text-smaller left-aligned-span opp-text-color">{{'Status' | translate}}</span>
                                </div>
                                <div class="row" ng-class="{'fixed-height':opp.PrimaryRevenueAmount === null}">
                                    <span class="text-smaller left-aligned-span bind-text">{{statusDisplayed |translate}}</span>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 opplist-item2-padding">
                                <div class="row">
                                    <span class="left-aligned-span align-left opp-highlighed-text bind-text">{{opp.name}}</span>
                                </div>
                                <div class="row">
                                    <span class="text-smaller opp-text-color">{{'Op.Number'| translate}}</span>
                                </div>
                                <div class="row" ng-class="{'fixed-height':opp.sTCLeadNumber === null}">
                                    <span class="text-smaller substatus-bind-text">{{opp.sTCLeadNumber}}</span>
                                </div>
                                <div class="row">
                                    <span class="text-smaller opp-text-color">{{'List OP Type' | translate}}</span>
                                </div>
                                <div class="row" ng-class="{'fixed-height':opp.sTCOpportunityType === null}">
                                    <span class="text-smaller substatus-bind-text">{{opp.sTCOpportunityType | translate}}</span>
                                </div>
                                <div class="row">
                                    <span class="text-smaller opp-text-color">{{'Service name' | translate}}</span>
                                </div>
                                <div class="row" ng-class="{'fixed-height':opp.serviceName === null||opp.serviceName === ''}">
                                    <span class="text-smaller substatus-bind-text">{{opp.serviceName  | translate}}</span>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 opplist-item3-padding">
                                <div class="row opp-flag-margin" ng-class="{'fixed-flag-height':opp.sTCOpportunityPriority !== 'High'}">
                                    <img src="assets/img/opportunityFlag/flag@2x.png" height="15" width="15" ng-show="opp.sTCOpportunityPriority === 'High'">
                                </div>
                                <div class="row">
                                    <span class="text-smaller opp-text-color">{{'Sub Status' | translate}}</span>
                                </div>
                                <div class="row" ng-class="{'fixed-height':opp.sTCSubStatusSME === null}">
                                    <span class="text-smaller substatus-bind-text">{{opp.sTCSubStatusSME |translate}}</span>
                                </div>
                                <div class="row">
                                    <span class="text-smaller opp-text-color">{{'City' | translate}}</span>
                                </div>
                                <div class="row" ng-class="{'fixed-height':opp.sTCOptyCity === null}">
                                    <span class="text-smaller substatus-bind-text">{{opp.sTCOptyCity | translate}}</span>
                                </div>
                                <div class="row">
                                    <span class="text-smaller opp-text-color">{{'Auth:Name' | translate}}</span>
                                </div>
                                <div class="row bind-text" ng-class="{'fixed-height':opp.sTCBulkLeadContactFirstName === null}">
                                    <span class="text-smaller substatus-bind-text">{{opp.sTCBulkLeadContactFirstName}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                     <div class="col-xs-12 col-md-12 no-value-display" ng-if="dashboardListModel.noDataToShow">{{'No opportunities to display' | translate}}</div>
                    <div ng-show="dashboardListModel.isRefreshTop" style="position: fixed;top: 45%;left: 0;z-index: 99999;width: 100%;height: 100vh;text-align:center;"><img src="assets/img/fbloader/fboader_20X20.gif" width="30" height="30" /></div>
                    <div ng-show="dashboardListModel.loadMoreOpp" style="position: fixed;top: 95%;left: 0;z-index: 99999;width: 100%;height: 100vh;text-align:center;"><img src="assets/img/fbloader/fboader_20X20.gif" width="30" height="30" /></div>
                </div>
            </div>
        </div>
    </div>
</div>