<md-dialog aria-label="OTP"><form name="otpForm" ng-cloak><md-toolbar><div class="md-toolbar-tools"><div class="otp-prompt-title">{{'OTP Verification'|translate}}</div><span flex></span><md-button class="md-icon-button" ng-click="OTPDialogHide()"><span><strong>X</strong></span></md-button></div></md-toolbar><md-dialog-content><div class="md-dialog-content"><div>{{'Please enter the OTP recieved in your phone' | translate}}</div><p style="margin-top: 35px"><md-input-container class="md-block" flex-gt-sm><label>{{'One Time Password' | translate}}</label><input name="otpCode" ng-model="otp.otpCode" required ng-pattern="/^[0-9]{1,10}$/"></md-input-container></p></div></md-dialog-content><div class="md-action" layout="row"><md-button ng-click="otpSubmit()" ng-disabled="!otp.otpCode.length || !submitFlag">{{submitBtnText | translate}}</md-button></div></form></md-dialog><style>md-dialog {
    height: auto;
    width: auto;
  }

  .md-action {
    -webkit-order: 2;
    order: 2;
    text-align: center;
  }

  .otp-prompt-title {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  md-input-container label {
    color: #666 !important;
  }

  md-input-container .md-input {
    color: #333 !important;
    border-bottom: 1px solid #333 !important;
  }

  md-toolbar:not(.md-menu-toolbar) {
    background: linear-gradient(to right, rgb(144, 70, 147), rgb(221, 0, 126)) !important;
  }

  .md-button[disabled] {
    color: #aaa !important;
  }

  .md-button.md-default-theme:not([disabled]):hover,
  .md-button:not([disabled]):hover {
    background-color: transparent;
  }</style>