<md-sidenav style="z-index: 99999;" md-component-id="right" class="md-sidenav-right">
    <div class="app-body">
        <div class="app-content sidebar-background-new">
            <div class="col-xs-12 col-md-12 sidemenu-user-container-new" style="text-align:center;border-top: none !important;">
                <span style="font-size: 19px;" class="sidemenu-name">{{'Chats' | translate}}</span>
            </div>
            <div class="scrollable">
                <div class="scrollable-content">
                    <div ng-if="startLoading" class="list-group" style="margin-top: 32%;">
                        <div class="list-group-item sidenav-tabs-new col-xs-12 col-md-12 noOutline">
                            <div class="col-xs-12 col-md-12" style="text-align: center;">
                                <md-progress-circular ng-if="startLoading" md-diameter="30" style="left: 45%;" md-mode="indeterminate"></md-progress-circular>
                                <br>
                                <span class="sidenav-font">{{'Looking for online users'|translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="chatNames.length && !startLoading" class="list-group" style="margin-top: 26%;">
                        <div class="col-xs-12 col-md-12" style="padding-bottom:10px;text-align:left;padding-top: 10px;">
                            <!-- <input class="chat_filter" ng-model="user" placeholder="Search User" /> -->
                            <md-input-container id="chatmdinput" class="md-block chat_filter" flex-gt-sm>
                                <label id="chatmdinput-label">{{'Search User' | translate}}</label>
                                <input ng-model="user">
                            </md-input-container>
                        </div>
                        <div class="list-group-item sidenav-tabs-new col-xs-12 col-md-12 noOutline" style="border-bottom: 1px solid #4c4747;padding-bottom: 20px;"
                            ng-click="gotoPrivateChat(names)" ng-repeat="names in chatNames |filter:user">
                            <div class="col-xs-12 col-md-12">
                                <div class="col-xs-2 col-md-2">
                                    <div style="width: 15px;height: 15px;background: #0aca0a;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;"></div>
                                </div>
                                <div class="col-xs-10 col-md-10">
                                    <span class="sidenav-font" style="font-size: 13px;">{{names}} {{'is Online' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!chatNames.length && !startLoading" style="margin-top: 26%;" class="list-group">
                        <div class="list-group-item sidenav-tabs-new col-xs-12 col-md-12 noOutline">
                            <div class="col-xs-12 col-md-12" style="text-align: center;padding: 25px;">
                                <span class="sidenav-font">{{'No Online Users Found' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!startLoading" class="col-xs-12 col-md-12" style="text-align: center;padding: 20px;">
                        <md-button class="md-accent md-raised no-margin no-padding" style="font-size:10px;" ng-click="refreshChatUsers()">{{'Refresh' |translate}}</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-sidenav>