<md-bottom-sheet style="padding: 0;border-top: 2px solid #ddd;">
   <div ng-if="ctrl.parent.calender.isFetchingSpecificActivity" class="scrollable-content">
       <div class="list-group">
           <div class="list-group-item">
               <div class="row">
                   <md-progress-circular style="left:44%;" md-diameter="30" md-mode="indeterminate"></md-progress-circular>
               </div>
               <div class="row" style="padding:15%;padding-top:5%;padding-bottom: 5%;">
                   <span class="text-small opp-text-color text-bolder">{{'Fetching Details Of Selected Activity' | translate}}</span>
               </div>     
           </div>    
       </div>    
   </div>
   <div ng-if="!ctrl.parent.calender.isFetchingSpecificActivity" class="scrollable-content"> 
    <div class="list-group">
           <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-10 col-md-10 opp-content-padding" style="text-align: center;outline: none;">
                        <span style="color: black;font-size: 15px;font-weight:bolder;">{{'Event Details' | translate}}</span>
                    </div>
                    <div ng-click="ctrl.parent.closeSpecActivityWindow()" style="text-align: right;outline: none;" class="col-xs-2 col-md-2 opp-content-padding">
                        <span style="color: black;font-size: 13px;font-weight:bolder;">{{'Close' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Opportunity Name'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="right-aligned-span text-small bind-text" style="text-align: right;">{{ctrl.parent.calender.specificActivity.opportunityName}}</span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Type'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="right-aligned-span text-small">{{ctrl.parent.calender.specificActivity.sTCEBUOpptyActivityType}}</span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-md-4 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Description'|translate}}</span>
                    </div>
                    <div class="col-xs-8 col-md-8 opp-content-padding">
                        <span class="right-aligned-span text-small bind-text" style="text-align: right;">{{ctrl.parent.calender.specificActivity.description2}}</span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Priority' |translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="right-aligned-span text-small">
                            {{ctrl.parent.calender.specificActivity.priority}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Status'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="right-aligned-span text-small">{{ctrl.parent.calender.specificActivity.status}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Start'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding" style="text-align: right;">{{ctrl.parent.calender.specificActivity.planned}}
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'End'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding" style="text-align: right;">{{ctrl.parent.calender.specificActivity.plannedCompletion}}
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Due'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding" style="text-align: right;">{{ctrl.parent.calender.specificActivity.due}}
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Done'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="right-aligned-span text-small" ng-if="ctrl.parent.calender.specificActivity.done !=='Y'||ctrl.parent.calender.specificActivity.done===null||ctrl.parent.calender.specificActivity.done==='false'">{{'No' |translate}}</span>
                        <span class="right-aligned-span text-small" ng-if="ctrl.parent.calender.specificActivity.done ==='Y'||ctrl.parent.calender.specificActivity.done === 'true'">{{'Yes' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Alarm'|translate}}</span>
                    </div>
                    <div class="col-xs-6 col-md-6 opp-content-padding">
                        <span class="right-aligned-span text-small" ng-if="ctrl.parent.calender.specificActivity.alarm !=='Y'||ctrl.parent.calender.specificActivity.alarm===null||ctrl.parent.calender.specificActivity.alarm==='false'">{{'No' |translate}}</span>
                        <span class="right-aligned-span text-small" ng-if="ctrl.parent.calender.specificActivity.alarm ==='Y'||ctrl.parent.calender.specificActivity.alarm === 'true'">{{'Yes' | translate}}</span>
                    </div>
                </div>
            </div>
      </div>
  </div>
</md-bottom-sheet>