<md-dialog class="custom-md-dialog-popup">
    <md-dialog-content>
            <div style="height: 80vh;">
                    <div class="col-xs-12" style="text-align:right;padding-top: 7px;">
                        <span ng-click="closeAssigneeListTab()" style="outline:none;">{{'Close' | translate}}</span>
                    </div>
                    <div class="col-xs-12 custom-popup-searchbox">
                        <input class="custom-popup-search-input-account" ng-model="assignToQuery" ng-change="assignedToValidate(assignToQuery)" placeholder="{{'Search for Assignee' | translate}}"/>
                        <img src="assets/img/search_lens/search_32X32.png" ng-click="assigneeSearch(assignToQuery)" style="border: 1px solid rgb(221, 221, 221);height: 35px;border-radius: 5px;margin-left: 5px;outline: none;" />
                    </div>
                    <div class="col-xs-12 col-md-12 scrollable-content" style="height: 72%;">
                        <ul class="list-inline" style="text-align: left;" ng-repeat="assign in detailModel.assignedTo |filter:assignToQuery">
                            <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px;outline: none;" ng-click="updateAssignedPosition(assign)">
                                {{assign.activeLoginName}} - {{assign.name}}
                            </li>
                        </ul>
                    </div>
                    <div ng-show="!detailModel.lastAssigneeReached" ng-click="fetchAssignByPart(detailModel.assignQuery,detailModel.assignStartRow)"
                        class="col-xs-12 col-md-12" style="height: 6%; outline: none; text-align: center;">
                        <span ng-show="!detailModel.lastAssigneeReached" style="line-height: 4;  outline: none;">{{'Load More' | translate}}</span>
                    </div>
                    <md-progress-circular ng-show="detailModel.loadingMoreAssigns" md-diameter="30" style="left: 45%;top: 45%;" md-mode="indeterminate"></md-progress-circular>
                </div>
    </md-dialog-content>
</md-dialog>