<md-sidenav md-component-id="left" class="md-sidenav-left">
    <div class="app-body">
        <div class="app-content sidebar-background-new">
            <div class="col-xs-12 col-md-12 sidemenu-user-top-new"></div>
            <div class="col-xs-12 col-md-12 sidemenu-user-container-new">
                <div class="col-xs-6 col-md-6 sidemenu-pic-holder">
                    <img class="side-menu-pic-img" style="height:80px;border-radius: 50%;" src="assets/img/slidingDp.png" ng-if="$root.profileImage === null"/>
                    <img class="side-menu-pic-img" style="height:80px;border-radius: 50%;" ng-if="$root.profileImage !== null" ng-src="{{profileImage}}"/>
                </div>
                <div class="col-xs-6 col-md-6 side-menu-text-container">
                    <div class="row">
                        <span class="sidemenu-text-status left-aligned-span">{{'Logged in As'|translate}}</span>
                    </div>
                    <div class="row">
                        <span class="sidemenu-name left-aligned-span">{{firstName}}</span>
                    </div>
                </div>
            </div>
            <div class="scrollable">
                <div class="scrollable-content">
                    <div class="list-group sidenav-margin">
                        <div class="list-group-item sidenav-tabs-new col-xs-12 col-md-12 noOutline" ng-class="{'selected-menu-new': module.route == selectedMenu}"
                            ng-hide="!isManager && module.name == 'Location Tracker'" ng-repeat="module in mainModuleTags" ng-click="openSidebarNav(module.name,module.route,module.enable)">
                            <div class="col-xs-2 col-md-2 no-padding sidenavIcon">
                                <img ng-src="{{module.image}}">
                            </div>
                            <div class="col-xs-10 col-md-10">
                                <span ng-class="{disableSideBar:!module.enable}" class="sidenav-font">{{module.name | translate}}</span>
                            </div>
                        </div>
                        <div class="list-group-item sidenav-tabs-new col-xs-12 col-md-12 noOutline" style="padding-left: 10px;" ng-click="showConfirm($event)">
                            <div class="col-xs-2 col-md-2 no-padding sidenavIcon" style="padding-left: 3px !important;">
                                <img src='assets/img/sidebar/Logout.png'>
                            </div>
                            <div class="col-xs-10 col-md-10" style="padding-left:6%;">
                                <span class="sidenav-font">{{'Logout' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-sidenav>