<md-dialog class="custom-md-dialog-popup">
    <md-dialog-content>
        <div style="height:80vh;">
            <div class="col-xs-12" style="text-align:right;padding-top: 7px;">
                <span ng-click="cityClose()" style="outline: none;" >{{'Close' | translate}}</span>
            </div>
            <div class="col-xs-12 custom-popup-searchbox">
                <input class="custom-popup-search-input" ng-model="citySearchModel" placeholder="{{'Search for a City' | translate}}" />
            </div>
            <div class="col-xs-12 col-md-12 scrollable-content" style="height: 85%;">
                <ul class="list-inline" style="text-align: left;" ng-repeat="city in listOfCities |filter:citySearchModel">
                    <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text" style="font-size: 14px;outline: none;" ng-click="citySelect(city)">
                        {{city.value}}
                    </li>
                </ul>
            </div>
            <md-progress-circular ng-show="isCityLoading" md-diameter="30" style="left: 45%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-dialog-content>
</md-dialog>