<div class="wrapper has-navbar-top">
    <div class="app-body">
        <div class="app-content">
            <loading ng-show="inboxListModel.isLoading"></loading>
            <div ng-show="!inboxListModel.isLoading" class="scrollable inboxContainer ng-scope">
                <div class="scrollable-content" style="-webkit-overflow-scrolling: touch;padding-bottom: 50px;" app-scroll on-list-scrolled="loadMoreOpportunities()">
                    <div class="row no-margin list-group-item" ng-repeat="opp in inboxListModel.inboxList track by $index" style="margin-bottom:10px !important;border-bottom:none !important; outline: none;"
                        ng-click="gotoOpportunityDetails(opp.sTCLeadNumber,opp)">
                        <div class="col-xs-4 col-md-4 text-center opplist-item1-padding">
                            <div class="padding-bottom-ten">
                                <div class="row text-left">
                                    <span class="text-smaller opp-text-color ">{{'Opportunity Name' | translate}}</span>
                                </div>
                                <div class="row text-left bind-text">
                                    <span class="text-smaller bind-text">{{opp.name}}</span>
                                </div>
                            </div>
                            <div class="padding-bottom-ten">
                                <div class="row text-left">
                                    <span class="text-smaller opp-text-color">{{'Created Date' | translate}}</span>
                                </div>
                                <div class="row text-left bind-text">
                                    <span class="text-smaller bind-text">{{opp.sTCBulkLeadCreatedDate}}</span>
                                </div>
                            </div>
                            <div class="padding-bottom-ten">
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 text-center opplist-item2-padding">
                            <div class="padding-bottom-ten">
                                <div class="row text-left">
                                    <span class="text-smaller opp-text-color">{{'Op.Number'| translate}}</span>
                                </div>
                                <div class="row text-left bind-text">
                                    <span class="text-smaller bind-text">{{opp.sTCLeadNumber}}</span>
                                </div>
                            </div>
                            <div class="padding-bottom-ten">
                                <div class="row text-left">
                                    <span class="text-smaller opp-text-color ">{{'Created By' | translate}}</span>
                                </div>
                                <div class="row text-left bind-text">
                                    <span class="text-smaller bind-text">{{opp.sTCCreatedByLogin}}</span>
                                </div>
                            </div>
                            <div class="padding-bottom-ten">
                                <div class="row text-left">
                                </div>
                                <div class="row text-left bind-text">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 text-center opplist-item3-padding">
                            <div class="padding-bottom-ten">
                                <div class="row text-left">
                                    <span class="text-smaller opp-text-color">{{'List OP Type' | translate}}</span>
                                </div>
                                <div class="row text-left bind-text">
                                    <span class="text-smaller bind-text">{{opp.sTCOpportunityType | translate}}</span>
                                </div>
                            </div>
                            <div class="padding-bottom-ten">
                            </div>
                        </div>
                    </div>
                    <div ng-show="inboxListModel.loadMore" style="position: fixed;top: 45%;left: 0;z-index: 99999;width: 100%;height: 100vh;text-align:center;"><img src="assets/img/fbloader/fboader_20X20.gif" width="30" height="30" /></div>
                    <div class="col-xs-12 col-md-12 no-inbox-display" ng-if="inboxListModel.inboxList.length == 0">{{'No opportunities to display' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>