<div class="wrapper has-navbar-top">
    <div class="app-body">
        <div ng-show="dashboardModel.loading" class="app-content-loading">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content" ng-if="dashboardModel.isNetworkAvailable">
            <loading ng-show="dashboardModel.isLoading"></loading>
            <div ng-show="!dashboardModel.isLoading" ng-swipe-left="loadNextCategory()" ng-swipe-right="loadPrevCategory()" class="scrollable accContainer ng-scope"
                ui-shared-state="searchBar" ng-class="{searchBar:dashboardModel.search}">
                <div ng-show="dashboardModel.enableSearch">
                    <input ng-if="dashboardModel.search" ng-model="dashboardModel.searchText" ng-change="searchFilter()" type="search" class="form-control scrollable-header needsclick ng-scope"
                        placeholder="{{'Search' | translate}}">
                </div>
                <div class="opp-subsContainer" style="background:white" ng-class="{'hideView':dashboardModel.subCategoryListTop.length === 1}">
                    <ul class="list-inline">

                        <md-tabs md-selected="dashboardModel.mainSelectedIndex" style="padding-top:10px;">
                            <md-tab md-on-select="dashBoardTabChanges(subs)" ng-repeat="subs in dashboardModel.subCategoryListTop" label="">
                                <div class="col-xs-6 col-md-6 DocumentItem">
                                    <span ng-class="{tabtextSelected:subs.isSelected}" class="opp-subsContainer-span" style="text-align:center">{{subs.name | translate}}</span>
                                </div>
                            </md-tab>
                        </md-tabs>

                    </ul>
                </div>
                <div ng-show="dashboardModel.tabWiseCount">
                    <div class="opp-subsContainer" style="background:white" ng-show="secondLineDisplay && dashboardModel.selectedCategory !=='User'">
                        <ul class="list-inline">
                            <md-tabs md-selected="dashboardModel.selectedIndex">
                                <md-tab md-on-select="dashBoardTabChangesSecList(subs)" ng-repeat="subs in dashboardModel.subCategoryList" label="">
                                    <li class="DocumentItem">
                                        <span ng-class="{tabtextSelected:subs.isSelected}" class="opp-subsContainer-span">{{subs.name | translate}}</span>
                                        <p ng-if="subs!=='Lost'" ng-class="{notifierSelected:subs.isSelected,hideCount:subs.notifierCount === '0'||subs.notifierCount === 0}"
                                            class="opp-sub-notifiers">
                                            <span>{{subs.notifierCount}}</span>
                                        </p>
                                    </li>
                                </md-tab>
                            </md-tabs>
                        </ul>
                    </div>
                </div>
                <div class="scrollable-content">
                    <div class="list-group" ng-show="dashboardModel.selectedCategory !=='User' && dashboardModel.selectedCategory !=='Team View'">
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                            <span style="font-size: 17px;">{{'Opportunities Per Sub-status' | translate}}</span>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align">
                            <md-progress-circular ng-show="dashboardModel.subStatusLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                            <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataFoundSubStatus" style="text-align: center;font-size: 17px;">
                                <span>{{'No substatus to display' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataTabChange  && !dashboardModel.noDataFoundSubStatus" style="text-align: center;font-size: 17px;">
                                <span>{{'No substatus to display' | translate}}</span>
                            </div>
                            <div ng-show="!dashboardModel.subStatusLoading && !dashboardModel.noDataFoundSubStatus && !dashboardModel.noDataTabChange">
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="dashboardModel.oppoSubStatusAmount" chart-labels="dashboardModel.oppoSubStatusText"
                                    chart-colors="dashboardModel.oppoSubStatusColour" chart-click="onClickDouSStaus" ng-click="onClickCharts('chOne')"
                                    style="outline: none;">
                                </canvas>
                            </div>
                        </div>
                        <div ng-show="dashboardModel.selectedCategorySecAllView">
                            <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                                <span style="font-size: 17px;">{{'Revenue' | translate}}</span>
                            </div>
                            <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align">
                                <md-progress-circular ng-show="dashboardModel.mrcLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                                <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataFoundMrc && !dashboardModel.mrcLoading" style="text-align: center;font-size: 17px;">
                                    <span>{{'No revenue details to display' | translate}}</span>
                                </div>
                                <div ng-show="!dashboardModel.mrcLoading &&!dashboardModel.noDataFoundMrc">
                                    <!--
                                    <canvas id="bar" class="chart chart-bar" chart-legend="false" chart-labels="dashboardModel.mrcBarText" chart-options="options"
                                        chart-data="dashboardModel.mrcBarAmount" chart-colors="coloursGraphTwo" chart-series="dashboardModel.labelTopFive" click="onClick">
                                    chart-series="series"></canvas>
                                    -->
                                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="dashboardModel.mrcBarAmount" chart-labels="dashboardModel.mrcBarText"
                                        chart-colors="coloursGraphTwo" chart-click="onClickDouSStaus" ng-click="onClickCharts('chTwo')"
                                        style="outline: none;">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                            <span style="font-size: 17px;">{{'High Priority' | translate}}</span>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align">
                            <md-progress-circular ng-show="dashboardModel.highCountLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                            <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataFoundHighCount && !dashboardModel.highCountLoading" style="text-align: center;font-size: 17px;">
                                <span>{{'No priority details to display' | translate}}</span>
                            </div>
                            <div ng-show="!dashboardModel.highCountLoading &&!dashboardModel.noDataFoundHighCount">
                                <!--
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="dashboardModel.highCountAmount" chart-labels="dashboardModel.highCountText"
                                    chart-colors="dashboardModel.highCountColour">
                                </canvas>
                                -->
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="dashboardModel.highCountAmount" chart-labels="dashboardModel.highCountText"
                                    chart-colors="dashboardModel.oppoSubStatusColour" chart-click="onClickDouSStaus" ng-click="onClickCharts('chThree')"
                                    style="outline:none;">
                                </canvas>
                                <!--<canvas id="bar1" class="chart chart-bar" chart-legend="false" chart-labels="dashboardModel.highCountText" chart-options="options" chart-data="dashboardModel.highCountAmount" chart-colors="coloursGraphTwo" chart-click="onClickHighPriority">
                                    chart-series="series"></canvas>-->
                            </div>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                            <span style="font-size: 17px;">{{'Top 3 Products' | translate}}</span>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align">
                            <md-progress-circular ng-show="dashboardModel.topThreeLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                            <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataFoundTopThree && !dashboardModel.topThreeLoading" style="text-align: center;font-size: 17px;">
                                <span>{{'No products to display' | translate}}</span>
                            </div>
                            <div ng-show="!dashboardModel.topThreeLoading && !dashboardModel.noDataFoundTopThree">
                                <!--
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="dashboardModel.topThreeDataBarAmount" chart-labels="dashboardModel.topThreeDataBarText"
                                    chart-colors="dashboardModel.topThreeDataBarColour" chart-legend="true">
                                </canvas>
                                -->
                                <canvas id="bar2" class="chart chart-bar" chart-legend="false" chart-labels="dashboardModel.topThreeDataBarText" chart-options="options"
                                    chart-data="dashboardModel.topThreeDataBarAmount" chart-colors="coloursGraphTwo" chart-series="dashboardModel.labelTopFive"
                                    chart="chart" chart-click="onClickDouSStaus" ng-click="onClickCharts('chFour')" style="outline:none">
                                    chart-series="series"></canvas>
                            </div>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                            <span style="font-size: 17px;">{{'Top 5 Opportunities' | translate}}</span>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align" style="margin-bottom:100px;">
                            <!--<div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align" style="margin-bottom: 100px;">-->
                            <md-progress-circular ng-show="dashboardModel.topFiveLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                            <div class="col-xs-12 col-md-12" ng-show="!dashboardModel.topFiveLoading && dashboardModel.noDataFoundTopFive" style="text-align: center;font-size: 17px;">
                                <span>{{'No opportunities to display' | translate}}</span>
                            </div>
                            <div ng-show="!dashboardModel.topFiveLoading && !dashboardModel.noDataFoundTopFive">
                                <canvas id="bar" class="chart chart-bar" chart-legend="false" chart-labels="dashboardModel.topFiveDataBarText" chart-options="options"
                                    chart-data="dashboardModel.topFiveDataBarAmount" chart-colors="coloursGraphTwo" chart-series="dashboardModel.labelTopFive"
                                    chart-click="onClickDouSStaus" ng-click="onClickCharts('chFive')" style="outline: none;">
                                    chart-series="series"></canvas>
                            </div>
                        </div>

                    </div>
                    <div class="list-group" ng-show="dashboardModel.selectedCategory ==='Team View' && dashboardModel.selectedCategory !=='User' && teamView"
                        style="padding-bottom: 50px;">
                        <!--              team view        -->
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                            <span style="font-size: 17px;">{{'Opportunities Per Sub-status' | translate}}</span>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align">
                            <md-progress-circular ng-show="dashboardModel.subStatusLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                            <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataFoundSubStatus" style="text-align: center;font-size: 17px;">
                                <span>{{'No substatus to display' | translate}}</span>
                            </div>
                            <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataTabChange  && !dashboardModel.noDataFoundSubStatus" style="text-align: center;font-size: 17px;">
                                <span>{{'No substatus to display' | translate}}</span>
                            </div>
                            <div ng-show="!dashboardModel.subStatusLoading && !dashboardModel.noDataFoundSubStatus && !dashboardModel.noDataTabChange">
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="dashboardModel.oppoSubStatusAmount" chart-labels="dashboardModel.oppoSubStatusText"
                                    chart-colors="dashboardModel.oppoSubStatusColour" chart-click="onClickDouSStaus" ng-click="onClickCharts('chOne')"
                                    style="outline: none;">
                                </canvas>
                            </div>
                        </div>
                        <div ng-show="dashboardModel.selectedCategorySecAllView">
                            <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                                <span style="font-size: 17px;">{{'Revenue' | translate}}</span>
                            </div>
                            <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align">
                                <md-progress-circular ng-show="dashboardModel.mrcLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                                <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataFoundMrc && !dashboardModel.mrcLoading" style="text-align: center;font-size: 17px;">
                                    <span>{{'No revenue details to display' | translate}}</span>
                                </div>
                                <div ng-show="!dashboardModel.mrcLoading &&!dashboardModel.noDataFoundMrc">
                                    <!--
                                    <canvas id="bar" class="chart chart-bar" chart-legend="false" chart-labels="dashboardModel.mrcBarText" chart-options="options"
                                        chart-data="dashboardModel.mrcBarAmount" chart-colors="coloursGraphTwo" chart-series="dashboardModel.labelTopFive" click="onClick">
                                    chart-series="series"></canvas>
                                    -->
                                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="dashboardModel.mrcBarAmount" chart-labels="dashboardModel.mrcBarText"
                                        chart-colors="coloursGraphTwo" chart-click="onClickDouSStaus" ng-click="onClickCharts('chTwo')"
                                        style="outline: none;">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                            <span style="font-size: 17px;">{{'High Priority' | translate}}</span>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align">
                            <md-progress-circular ng-show="dashboardModel.highCountLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                            <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataFoundHighCount && !dashboardModel.highCountLoading" style="text-align: center;font-size: 17px;">
                                <span>{{'No priority details to display' | translate}}</span>
                            </div>
                            <div ng-show="!dashboardModel.highCountLoading && !dashboardModel.noDataFoundHighCount">
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="dashboardModel.highCountAmount" chart-labels="dashboardModel.highCountText"
                                    chart-colors="dashboardModel.oppoSubStatusColour" chart-click="onClickDouSStaus" ng-click="onClickCharts('chThree')"
                                    style="outline: none;">
                                </canvas>
                                <!--<canvas id="bar1" class="chart chart-bar" chart-legend="false" chart-labels="dashboardModel.highCountText" chart-options="options" chart-data="dashboardModel.highCountAmount" chart-colors="coloursGraphTwo" chart-click="onClickHighPriority">
                                    chart-series="series"></canvas>-->
                            </div>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                            <span style="font-size: 17px;">{{'Top 3 Products' | translate}}</span>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align">
                            <md-progress-circular ng-show="dashboardModel.topThreeLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                            <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataFoundTopThree && !dashboardModel.topThreeLoading" style="text-align: center;font-size: 17px;">
                                <span>{{'No products to display' | translate}}</span>
                            </div>
                            <div ng-show="!dashboardModel.topThreeLoading && !dashboardModel.noDataFoundTopThree">
                                <!--
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="dashboardModel.topThreeDataBarAmount" chart-labels="dashboardModel.topThreeDataBarText"
                                    chart-colors="dashboardModel.topThreeDataBarColour" chart-legend="true">
                                </canvas>
                                -->
                                <canvas id="bar2" class="chart chart-bar" chart-legend="false" chart-labels="dashboardModel.topThreeDataBarText" chart-options="options"
                                    chart-data="dashboardModel.topThreeDataBarAmount" chart-colors="coloursGraphTwo" chart-series="dashboardModel.labelTopFive"
                                    chart="chart" chart-click="onClickDouSStaus" ng-click="onClickCharts('chFour')" style="outline: none;">
                                    chart-series="series"></canvas>
                            </div>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-title-align" style="background-color: #ddd6d4;">
                            <span style="font-size: 17px;">{{'Top 5 Opportunities' | translate}}</span>
                        </div>
                        <div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align" style="margin-bottom:100px;">
                            <!--<div class="list-group-item col-xs-12 col-md-12 dashboard-chart-align" style="margin-bottom: 100px;">-->
                            <md-progress-circular ng-show="dashboardModel.topFiveLoading" md-diameter="30" style="left: 50%;top: 50%;" md-mode="indeterminate"></md-progress-circular>
                            <div class="col-xs-12 col-md-12" ng-show="dashboardModel.noDataFoundTopFive && !dashboardModel.topFiveLoading" style="text-align: center;font-size: 17px;">
                                <span>{{'No opportunities to display' | translate}}</span>
                            </div>
                            <div ng-show="!dashboardModel.topFiveLoading && !dashboardModel.noDataFoundTopFive">
                                <canvas id="bar" class="chart chart-bar" chart-legend="false" chart-labels="dashboardModel.topFiveDataBarText" chart-options="options"
                                    chart-data="dashboardModel.topFiveDataBarAmount" chart-colors="coloursGraphTwo" chart-series="dashboardModel.labelTopFive"
                                    chart-click="onClickDouSStaus" ng-click="onClickCharts('chFive')" style="outline: none;">
                                    chart-series="series"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="list-group no-value-display" ng-show="dashboardModel.selectedCategory ==='Team View' && dashboardModel.selectedCategory !=='User' && !teamView">Team view is not available</div>
                    <div class="list-group" ng-show="dashboardModel.selectedCategory ==='User'" style="padding-bottom: 50px;">
                        <div class="col-xs-12 col-md-12 no-value-display" ng-if="dashboardModel.subordinateList.length == 0">{{'No subordinates to display' | translate}}</div>
                        <div class="list-group-item" ng-repeat="sub in  dashboardModel.subordinateList |orderBy : 'subordinateLogin' |  filter:searchFilter">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 opp-content-padding">
                                    <span class="left-aligned-span text-small opp-text-color">{{sub.subordinateLogin}}</span>
                                </div>
                                <div class="col-xs-6 col-md-6 opp-content-padding">
                                    <span class="right-aligned-span text-small">
                                        <img src="assets/img/arrow/ic_arrow_down.png" ng-if="!sub.userDataLoading&&!sub.userDataShow" style="height: 18px;" ng-click="fetchUserBasedCounts(sub,this)"
                                        />
                                        <img src="assets/img/arrow/ic_arrow_up.png" ng-if="!sub.userDataLoading&&sub.userDataShow" style="height: 18px;" ng-click="closeUserCounts(sub,this)"
                                        />
                                        <img ng-if="sub.userDataLoading" src="assets/img/extracting.gif" style="height: 18px;float: right;" />
                                    </span>
                                </div>
                            </div>
                            <div class="userleadCount" ng-if="sub.userDataShow">
                                <div class="row">
                                    <div class="col-xs-4 col-md-4 dashboard-pic-holder">
                                        <img class="dashboard-subordinate-user-image" src="assets/img/slidingDp.png" ng-if="sub.userImage === null"/>
                                        <img class="dashboard-subordinate-user-image" ng-src="{{sub.userImage}}" ng-if="sub.userImage !== null"/>
                                    </div>
                                    <div class="col-xs-8 col-md-8">
                                        <div class="row userCountRow">
                                            <div class="col-xs-8 col-md-8 opp-content-padding">
                                                <span class="left-aligned-span text-small opp-text-color">Lead</span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding">
                                                <span class="right-aligned-span text-small">{{sub.leadCount}}
                                                </span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding" ng-show="sub.leadCount.length > 0" ng-click="goToUsersListPage(sub.subordinateLogin,'subOne',sub.leadCount)">
                                                <img src="assets/img/arrow/ic_keyboard_arrow.png" style="height: 18px;outline:none;" />
                                            </div>
                                        </div>
                                        <div class="row userCountRow">
                                            <div class="col-xs-8 col-md-8 opp-content-padding">
                                                <span class="left-aligned-span text-small opp-text-color">Customer Contact</span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding">
                                                <span class="right-aligned-span text-small">{{sub.contactcustCount}}
                                                </span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding" ng-click="goToUsersListPage(sub.subordinateLogin,'subTwo',sub.contactcustCount)"
                                                ng-show="sub.contactcustCount.length > 0">
                                                <img src="assets/img/arrow/ic_keyboard_arrow.png" style="height: 18px;outline:none;" />
                                            </div>
                                        </div>
                                        <div class="row userCountRow">
                                            <div class="col-xs-8 col-md-8 opp-content-padding">
                                                <span class="left-aligned-span text-small opp-text-color">Customer Visit</span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding">
                                                <span class="right-aligned-span text-small">{{sub.custVisitCount}}
                                                </span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding" ng-click="goToUsersListPage(sub.subordinateLogin,'subThree',sub.custVisitCount)"
                                                ng-show="sub.custVisitCount.length > 0">
                                                <img src="assets/img/arrow/ic_keyboard_arrow.png" style="height: 18px;outline:none;" />
                                            </div>
                                        </div>
                                        <div class="row userCountRow">
                                            <div class="col-xs-8 col-md-8 opp-content-padding">
                                                <span class="left-aligned-span text-small opp-text-color">Proposal</span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding">
                                                <span class="right-aligned-span text-small">{{sub.proposalCount}}
                                                </span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding" ng-click="goToUsersListPage(sub.subordinateLogin,'subFour',sub.proposalCount)"
                                                ng-show="sub.proposalCount.length > 0">
                                                <img src="assets/img/arrow/ic_keyboard_arrow.png" style="height: 18px;outline:none;" />
                                            </div>
                                        </div>
                                        <div class="row userCountRow">
                                            <div class="col-xs-8 col-md-8 opp-content-padding">
                                                <span class="left-aligned-span text-small opp-text-color">Win</span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding">
                                                <span class="right-aligned-span text-small">{{sub.winCount}}
                                                </span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding" ng-click="goToUsersListPage(sub.subordinateLogin,'subFive',sub.winCount)"
                                                ng-show="sub.winCount.length > 0">
                                                <img src="assets/img/arrow/ic_keyboard_arrow.png" style="height: 18px;outline:none;" />
                                            </div>
                                        </div>
                                        <div class="row userCountRow">
                                            <div class="col-xs-8 col-md-8 opp-content-padding">
                                                <span class="left-aligned-span text-small opp-text-color">Lost</span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding">
                                                <span class="right-aligned-span text-small">{{sub.lostCount}}
                                                </span>
                                            </div>
                                            <div class="col-xs-2 col-md-2 opp-content-padding" ng-click="goToUsersListPage(sub.subordinateLogin,'subSix',sub.lostCount)"
                                                ng-show="sub.lostCount.length > 0">
                                                <img src="assets/img/arrow/ic_keyboard_arrow.png" style="height: 18px;outline:none;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-content" ng-if="!dashboardModel.isNetworkAvailable">
            <div class="scrollable-content" style="background-color: #dadada;">
                <div class="col-xs-12 col-md-12 no-value-display">Dashboard View is not Available in Offline Mode</div>
            </div>
        </div>
    </div>
</div>