<div class="wrapper has-navbar-top">
        <div class="app-body">
            <div class="app-content">
                 <div class="scrollable-content" style="overflow-x: hidden;" ui-scroll-bottom="bottomReached()">
                    <div class="list-group" style="margin-bottom: 70px;">
                        <div class="list-group-item" style="padding:0;border-bottom: 0;" ng-repeat="message in messages">  
                            <div ng-if="message.sender_uuid === currentUSer" class="row msg_container base_sent">
                                <div class="col-md-10 col-xs-10">
                                    <div class="messages msg_sent">
                                        <p>{{message.content}}</p>
                                        <time datetime="2009-11-13T20:00">{{'You' | translate}} • {{message.date | date:"h:mma"}}</time>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-2 avatar"></div>
                            </div>
                            <div ng-if="message.sender_uuid !== currentUSer" class="row msg_container base_receive">
                                <div class="col-md-2 col-xs-2 avatar"> </div>
                                <div class="col-md-10 col-xs-10">
                                    <div class="messages msg_receive">
                                        <p>{{message.content}}</p>
                                        <time style="float:right;" datetime="2009-11-13T20:00">{{message.sender_uuid}} • {{message.date | date:"h:mma"}}</time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                 </div>    
            </div>
        </div>
        <div class="navbar navbar-app navbar-absolute-bottom" style="border-top-width: 0px;background: transparent;">
            <form ng-submit="sendMessage()" class="search-form">
                <div class="cell">
                    <input ng-model="messageContent" ng-change="messageValidate(messageContent)" style="width: 100%;border: 1px solid #ddd;padding: 5px;color:black;background: #fff;" type="text" placeholder="{{'Type your message' | translate }}" />
                </div>
                <div class="cell button-holder">
                    <md-button aria-label="Send" style="min-width: auto;border-radius: 50%;" class="md-accent md-raised" ng-click="sendMessage()">{{'Send' | translate}}</md-button> 
                </div>
            </form>
          </div>
    </div>