<md-dialog class="custom-md-dialog-popup">
    <md-dialog-content>
        <div style="height: 80vh;">
            <div class="col-xs-12" style="text-align: right;padding-top: 5px;padding-bottom: 5px;">
                <span ng-click="accountOnClose()" style="outline:none;">{{'Close' | translate}}</span>
            </div>
            <div class="col-xs-12" class="custom-popup-searchbox">
                <input class="custom-popup-search-input-account" ng-model="accountSearchModel" placeholder="{{'Search for Account' | translate}}"
                    ng-change="accountSearchValidate(accountSearchModel)" />
                <img src="assets/img/search_lens/search_32X32.png" ng-click="getAccountNames(accountSearchModel)" class="custom-popup-search-button"
                />
            </div>
            <div class="col-xs-12 col-md-12 scrollable-content custom-popup-content-account" style="height: 64vh !important;">
                <ul class="list-inline" class="custom-popup-ul" ng-repeat="account in accountNames">
                    <li class="oppdetail-subs-padding opp-detail-subsmargin bind-text custom-popup-li" style="outline:none;" ng-click="accountSelected(account)">
                        {{account.name}}
                    </li>
                </ul>
            </div>
            <div ng-show="!isLastAccount" ng-click="fetchAccountPart(accountSearchModel,accountStartRow,'loadMore')"
                class="col-xs-12 col-md-12" style="height: 6%; outline: none;text-align: center;">
                <span ng-show="!isLastAccount" style="line-height: 1; ">{{'Load More' | translate}}</span>
            </div>
            <md-progress-circular ng-show="isLoadingAccounts" md-diameter="30" style="left:45%;top:45%; outline:none;" md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-dialog-content>
</md-dialog>