<div class="scrollable-content greyBackground fullheightDetail" style="background-color: none !important;overflow-x: hidden;">
<div class="list-group">
    <div class="activity-top"></div>
    <div ng-show="activityModel.activityView === 'list'">
        <div class="col-xs-12 col-md-12 no-value-display" ng-if="activityModel.activitiesList.length == 0">{{'No Activities to Display'|translate}}</div>
        <div scroll-to-top-when="activityModel.activityView === 'list'" class="defaultPditem slideToLeft pdtItemActivity{{$index}}" ng-swipe-left="onSwipeLeftActivities($index,this)" ng-repeat="($index, activity) in activityModel.activitiesList"
            ng-swipe-right="onSwipeRightActivities($index,this)" ng-disabled="activityModel.salesStage.includes('Win')||activityModel.salesStage.includes('Lost')">
            <div class="row" style="margin-bottom:8%;">
                <div ng-if="showSlideIndicator && activityModel.enableEdit" ng-class="{'animated arrow bounce':showSlideIndicator}">
                    <img width="25" height="25" alt="" src="assets/img/arrow/slideArrow.svg" />
                </div>
                <div id="activitySlider-{{$index}}" class="hidden-pritem-activities text-center col-xs-2 col-md-2">
                    <div class="row" style="transform: translateY(100px)" 
                        ng-disabled="activityModel.salesStage.includes('Win')||activityModel.salesStage.includes('Lost')">
                        <img src="assets/img/edit/edit.png" ng-click="activityModel.salesStage.includes('Win')||activityModel.salesStage.includes('Lost') || gotoEditActivity($index,activityModel.activitiesList[$index])">
                    </div>
                    <div class="row" style="transform: translateY(200px)"  ng-disabled="activityModel.salesStage.includes('Win')||activityModel.salesStage.includes('Lost')">
                        <img src="assets/img/edit/delete.png" ng-click="activityModel.salesStage.includes('Win')||activityModel.salesStage.includes('Lost') || doDeleteActivity(this,$index,activity)">
                    </div>
                </div>
                <div class="col-xs-12 col-md-12" id="activityBlock-{{$index}}" style="position: absolute;left: 55px;padding-right: 0px !important;padding-left: 0px !important;">
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Activitys' | translate}} #</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">{{activity.activityId}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Type'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">{{activity.sTCEBUOpptyActivityType |translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Description'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small text-clip" style="text-align: right;">{{activity.description2}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Priority'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small" style="text-align: right;">{{activity.priority | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Status'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small text-clip" style="text-align: right;">{{activity.status | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Start'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">

                                <span class="right-aligned-span text-small">{{activity.planned}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'End'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">{{activity.plannedCompletion}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Due'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small">{{activity.due}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Done'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small" ng-if="activity.done !=='Y'||activity.done===null||activity.done==='false'">{{'No' |translate}}</span>
                                <span class="right-aligned-span text-small" ng-if="activity.done ==='Y'||activity.done === 'true'">{{'Yes' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-class="{'activityactive':{{activity.color =='active'}} ,'activitypast':{{activity.color  =='past'}},'activityfuture':{{activity.color =='future'}}}">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="left-aligned-span text-small opp-text-color">{{'Alarm'|translate}}</span>
                            </div>
                            <div class="col-xs-6 col-md-6 opp-content-padding">
                                <span class="right-aligned-span text-small" ng-if="activity.alarm !=='Y'||activity.alarm === null||activity.alarm ==='false' ">{{'No' | translate}}</span>
                                <span class="right-aligned-span text-small" ng-if="activity.alarm ==='Y'||activity.alarm ==='true'">{{'Yes' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <!--<md-footer>-->
                        <md-progress-linear ng-show="showActivityDeleteLoader" md-mode="indeterminate"></md-progress-linear>
                    <!--</md-footer>-->
                </div>
            </div>
        </div>
    </div>
    <div ng-show="activityModel.activityView === 'create'">
        <div class="list-group-item note-form-label">
            <div class="row">
                <div class="col-xs-12 col-md-12 opp-content-padding">
                    <span ng-if="!activityModel.activityRequestParams.activityId.length" class="left-aligned-span text-small opp-text-color">{{'Create Activity'|translate}}</span>
                    <span ng-if="activityModel.activityRequestParams.activityId.length" class="left-aligned-span text-small opp-text-color">{{'Edit Activity' | translate}}# {{activityModel.activityRequestParams.activityId}}</span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Type'|translate}}</span>
                    <span class="required">*</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <md-select ng-model="activityModel.activityRequestParams.sTCEBUOpptyActivityType" placeholder="" class="md-no-underline dropdown">
                            <md-option ng-repeat="(index,value) in activityModel.activityTypeList" ng-value="value.name" ng-click="activityTypeChange(value.name)" ng-selected="index == 0">
                                {{value.name |translate}}
                            </md-option>
                        </md-select>
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item note-form-label">
            <div class="row">
                <div class="col-xs-12 col-md-12 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Description'|translate}}</span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-12 col-md-12 opp-content-padding">
                    <span class="text-small opp-text-color">
                        <textarea placeholder="{{'Type Description here'|translate}}" rows="3" class="note-area" ng-model="activityModel.activityRequestParams.description2" ng-change="descValidate(activityModel.activityRequestParams.description2)"></textarea>
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Priority' |translate}}</span>
                    <span class="required">*</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <md-select ng-model="activityModel.activityRequestParams.priority" placeholder="" class="md-no-underline dropdown">
                            <md-option ng-repeat="(index,value) in activityModel.activityPriorityList" ng-value="value.name" ng-click="activityPriorityChange(value.name)" ng-selected="index == 0">
                                {{value.name | translate}}
                            </md-option>
                        </md-select>
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Status'|translate}}</span>
                    <span class="required">*</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <md-select ng-model="activityModel.activityRequestParams.status" placeholder="" class="md-no-underline dropdown">
                            <md-option ng-repeat="(index,val) in activityModel.activityStatusList" ng-value="val.value" ng-click="activityStatusChange(val)">
                                {{val.value |translate}}
                            </md-option>
                        </md-select>
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-4 col-md-4 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Start'|translate}}</span>
                </div>
                <div class="col-xs-8 col-md-8 opp-content-padding">
                    <input mdc-datetime-picker="" style=" float: right;background-image: url(assets/img/calendar/ic_datepicker.png);background-repeat: no-repeat; background-position: right center;text-align: center;"
                        date="true" time="true" type="text" id="plannedDate" placeholder="{{'Enter Start Date'|translate}}"
                        show-todays-date="" min-date="date" ng-model="activityModel.activityRequestParams.planned"
                        class=" md-input" readonly="readonly" format="DD/MM/YYYY HH:mm:ss">
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-4 col-md-4 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'End'|translate}}</span>
                </div>
                <div class="col-xs-8 col-md-8 opp-content-padding">
                    <input mdc-datetime-picker="" style=" float: right;background-image: url(assets/img/calendar/ic_datepicker.png);background-repeat: no-repeat; background-position: right center; text-align: center;"
                        date="true" time="true" type="text" id="plannedCompletionDate" placeholder="{{'Enter End date'|translate}}"
                        show-todays-date="" min-date="date" ng-model="activityModel.activityRequestParams.plannedCompletion"
                        class=" md-input" ng-change="compareDates(activityModel.activityRequestParams.plannedCompletion,activityModel.activityRequestParams.planned,'Start')" readonly="readonly" format="DD/MM/YYYY HH:mm:ss">
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-4 col-md-4 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color">{{'Due'|translate}}</span>
                </div>
                <div class="col-xs-8 col-md-8 opp-content-padding">
                    <input mdc-datetime-picker="" style=" float: right;background-image: url(assets/img/calendar/ic_datepicker.png);background-repeat: no-repeat; background-position: right center; text-align: center;"
                        date="true" time="true" type="text" id="dueDate" placeholder="{{'Enter Due date'|translate}}" show-todays-date=""
                        min-date="date" ng-model="activityModel.activityRequestParams.due" class=" md-input"
                        readonly="readonly" format="DD/MM/YYYY HH:mm:ss">
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Done'|translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <md-checkbox class="custom-checkbox" ng-model="activityModel.activityRequestParams.done"  aria-label="Activity Done"></md-checkbox>
                    </span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="left-aligned-span text-small opp-text-color text-bolder">{{'Alarm'|translate}}</span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="right-aligned-span text-small">
                        <md-checkbox class="custom-checkbox" ng-model="activityModel.activityRequestParams.alarm"  aria-label="Activity Alarm"></md-checkbox>
                    </span>
                </div>
            </div>
        </div>
            <md-progress-linear ng-show="activityModel.showActivityAddLoader" md-mode="indeterminate"></md-progress-linear>
        <div class="list-group-item note-buttons">
            <div class="row">
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="">
                        <md-button class="md-accent md-raised note-cancel no-margin no-padding" ng-click="cancelActivityEntry()" ng-disabled="activityModel.showActivityAddLoader">{{'Cancel'|translate}}</md-button>
                    </span>
                </div>
                <div class="col-xs-6 col-md-6 opp-content-padding">
                    <span class="">
                        <md-button class="md-accent md-raised auto-quote no-margin no-padding" ng-click="saveActivity(this)" ng-disabled="activityModel.showActivityAddLoader">{{'Save'|translate}}</md-button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<md-fab-speed-dial ng-show="activityModel.activityView === 'list' && activityModel.enableEdit" md-direction="up" class="md-scale md-fab-bottom-right md-hover-full speed-dial">
    <md-fab-trigger>
        <md-button aria-label="Add Product" class="md-fab md-warn add-attachment" ng-click="doAddActivity()" ng-disabled="activityModel.salesStage.includes('Win')||activityModel.salesStage.includes('Lost')">
            <md-icon style="background-image:url('assets/img/header/add/add.png');margin: 18px 12px;" md-svg-src=""></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
    </md-fab-actions>
</md-fab-speed-dial>
