<div class="scrollable-content greyBackground fullheightDetail" style="background-color: none !important;overflow-x: hidden;">
<div class="list-group" style="overflow-x: hidden;">
    <div class="quote-top"></div>
    <div class="col-xs-12 col-md-12 no-value-display" ng-if="quoteModel.quotesList.length == 0">{{'No Quotes to Display'|translate}}</div>
    <div class="defaultPditem quotes slideToLeft  pdtItemQuote{{$index}}"  ng-repeat="($index, quote) in quoteModel.quotesList"
        ng-swipe-right="onSwipeRightQuotes($index)" ng-disabled="quoteModel.details.salesStage.includes('Win')||quoteModel.details.salesStage.includes('Lost')">
        <div class="row">
            <div class="hidden-pritem-quotes text-center col-xs-2 col-md-2">
                <div class="row" style="transform: translateY(115px)" ng-click="openDelete($event)" ng-disabled="quoteModel.details.salesStage.includes('Win')||quoteModel.details.salesStage.includes('Lost')">
                    <img src="assets/img/edit/delete.png">
                </div>
            </div>
            <div class="col-xs-12 col-md-12" style="position: absolute;left: 55px;padding-right: 0px !important;padding-left: 0px !important;">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span class="left-aligned-span text-small opp-text-color">{{'Quote#'|translate}}</span>
                        </div>
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span class="right-aligned-span text-small">{{quote.quoteNumber}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-md-4 opp-content-padding">
                            <span class="left-aligned-span text-small opp-text-color">{{'Quote Name'|translate}}</span>
                        </div>
                        <div class="col-xs-8 col-md-8 opp-content-padding">
                            <span class="right-aligned-span text-small">{{quote.name3}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span class="left-aligned-span text-small opp-text-color">{{'Status'|translate}}</span>
                        </div>
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span class="right-aligned-span text-small text-clip" style="text-align: right;">{{quote.status}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-md-4 opp-content-padding">
                            <span class="left-aligned-span text-small opp-text-color">{{'Comments'|translate}}</span>
                        </div>
                        <div class="col-xs-8 col-md-8 opp-content-padding">
                            <span class="right-aligned-span text-small text-clip" style="text-align: right;">{{quote.description}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span class="left-aligned-span text-small opp-text-color"> {{'Opportunity Number'|translate}}</span>
                        </div>
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span class="right-aligned-span text-small">{{quote.sTCLeadNumber}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span class="left-aligned-span text-small opp-text-color">{{'Contact Number'|translate}}</span>
                        </div>
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span ng-click="openDialer(quoteModel.details.sTCBulkLeadContactNumber)" class="right-aligned-span text-small" ng-show="quoteModel.details.sTCFeedback ==='Authorized person'||quoteModel.details.sTCFeedback2 ==='Authorized person'||quoteModel.details.sTCFeedback3 ==='Authorized person'">{{quoteModel.details.sTCBulkLeadContactNumber}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span class="left-aligned-span text-small opp-text-color">{{'ID No'|translate}}</span>
                        </div>
                        <div class="col-xs-6 col-md-6 opp-content-padding">
                            <span class="right-aligned-span text-small">{{quote.sTCCommercialRegn}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>